<div class="bbot-border" ng-show="textBot">
	<div class="bbot-board">
		<div class="bbot-header" ng-if="lesson">
			<button class="button-gradient quote"
					type="button">
				"{{quote}}"
			</button>
			<button class="button-gradient enjoy-hint-next"
					type="button"
					ng-show="next"
					ng-click="next()">
				Далее
			</button>
		</div>
		<div class="bbot-header" ng-if="!lesson">
			<button class="arrow" type="button" ng-click="closeBBotList()">
				<span class="glyphicon glyphicon-chevron-down"></span>
			</button>
		</div>
		<div class="bbot-img"></div>
		<div class="bbot-msg">
			<div class="bbot-triangle"></div>
			<div class="bbot-hologram" ng-bind-html="getText()"></div>
		</div>
	</div>
</div>
