<div class="bbot-border" ng-show="editorOptions.error">
	<div class="bbot-board">
		<div class="bbot-header" ng-if="lesson">
			<button class="button-gradient quote" type="button" ng-click="closeBBotList()">
				"{{quote}}"
			</button>
			<button class="button-gradient enjoy-hint-next" type="button" ng-click="closeBBotList()">
				Далее
			</button>
		</div>
		<div class="bbot-header" ng-if="!lesson">
			<button class="arrow" type="button" ng-click="closeBBotList()">
				<span class="glyphicon glyphicon-chevron-down"></span>
			</button>
		</div>
		<div class="bbot-img"></div>
		<div class="bbot-msg">
			<div class="bbot-triangle"></div>
			<div class="bbot-hologram red">
				<p>###-Проблема!! Дроид Bbot не может понятb 4еловека-### 0шибка: {{editorOptions.error.toString()}}
				<br>###Пожалуйста и3ъясняйтесь понятнее.### .</p>
			</div>
		</div>
	</div>
</div>
