<div class="lesson-board">
	<div class="objects content-description">
		<div class="pane-title">
			<div class="pane-title-inner">
				Урок №1
			</div>
		</div>

		<div class="content-overflow lesson-content-overflow">
			<div class="content-center">
				<div class="lesson-title">Как вас зовут?</div>
				<div class="lesson-content">
					<p>Приветствую вас, кадет! Вы попали в академию SpaceCraft......<p>
				</div>
			</div>
			<div class="lesson-instructions">
				<div class="content-center">
					<div class="lesson-instructions-title">Инструкции:</div>
					<div class="lesson-content">
						<p>Приветствую вас, кадет! Вы попали в академию SpaceCraft......</p>
					</div>
				</div>
			</div>
		</div>
		<div class="helper">
			<div class="astrogirl-img"></div>
		</div>
	</div>
</div>
