<div class="container-white-board"
	 ng-class="{'rotate-out-down-left' : hideTrick, 'rotate-in-down-left' : showTrick}"
	 ng-hide="object.hide"
	 ng-click="next()">
    <ul class="white-board">
        <li class="white-board-title">

            <span ng-bind-html="getContentTitle()"></span>

            <i class="glyphicon glyphicon glyphicon-remove first-icon" ng-click="closeTricks()"></i>
            <i class="glyphicon glyphicon-chevron-right second-icon" ng-click="next()"></i>
            <i class="glyphicon glyphicon-chevron-left third-icon" ng-click="previous()"></i>
            <i class="glyphicon glyphicon-info-sign fourth-icon" ng-click="showHint()" ng-show="t.hint"></i>
        </li>

        <li class="white-board-description" ng-bind-html="getContentDescription()"></li>
    </ul>
</div>

