<div class="pages-background">

	<div class="pages-board">
		<div class="container-25" ui-sref="game">
			<div class="container-inside">
				<div class="pages-img pages-img-blue game-img"></div>
				<div class="pages-label">Соревнуйся с другими игроками</div>
				<div class="pages-text">Играть</div>
			</div>
		</div>
		<div class="container-25" ui-sref="lessons">
			<div class="container-inside">
				<div class="pages-img pages-img-blue learn-img"></div>
				<div class="pages-label">Изучите JavaScript</div>
				<div class="pages-text">Начать обучение</div>
			</div>
		</div>
		<div class="container-25">
			<a href="https://vk.com/im?media=&sel=-105816682">
				<div class="container-inside">
					<div class="pages-img pages-img-green send-img"></div>
					<div class="pages-label">Есть вопросы или пожелания?</div>
					<div class="pages-text">Напишите нам</div>
				</div>
			</a>
		</div>
		<div class="container-25" ng-click="goToTricks()">
			<div class="container-inside">
				<div class="pages-img pages-img-green tips-img"></div>
				<div class="pages-label">Не можете разобраться?</div>
				<div class="pages-text">Краткий экскурс</div>
			</div>
		</div>
		<div class="container-25">
			<div class="container-inside">
				<div id="vk_groups"></div>
			</div>
		</div>
	</div>

	<div class="rocket-white-img pages-footer-img "></div>

	<div class="pages-footer"></div>
	<div class="pages-footer-text">Доступны новые уроки!</div>

	<div class="toolbar-min">
		<img class="logo"
			 ui-sref="welcome"
			 src="resources/assets/logo3.png"/>
	</div>

</div>
