<!doctype html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Обновляем вселенную, сохроняем человечков :)</title>

    <script src="../lib/codepen/black-hole.js"></script>
    <link rel="stylesheet" href="../stylesheets/main-error.css" type="text/css"/>
  </head>
  <body>

  	<div class="error-code-container">
		<p  class="error-code-size">
			update
		</p>
	</div>

	<canvas id=C></canvas>

	<div class="bbot-container">
		<div class="bbot-sprite">
			<img  src="../images/pages/bbot-happy.png"/>
		</div>
		<div class="speech-bubble">
			<p class="bubble-text">
				Происходит обновление Вселенной. Подождите пока «Большой взрыв» создаст новую.
			</p>
		</div>
	</div>

  </body>
</html>
