<div class="settings" ng-hide="hide">
	<div class="content-description">
		<div class="content-overflow" ng-if="lessonTableData">
			<table class="table table-responsive">
				<thead>
					<tr>
						<th ng-repeat="column in lessonTableData.columns track by $index">
							{{column}}
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="row in lessonTableData.rows track by $index"
						ng-init="rowIndex = $index">
						<td ng-repeat="element in row track by $index"
							ng-init="columnIndex = $index"
							ng-class="{'table-hint-cell' : lessonTableData.hintColumns.includes(columnIndex) &&
														   lessonTableData.hintRows.includes(rowIndex)}"
							ng-bind-html="trustAsHtml(element)">
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

