body {
    margin: 0;
    overflow: hidden;
}

#gameCanvas {
    margin-top: 25px;
}

#toolbar {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #25282C;
    color: #C5C8C6;
    bottom: 95%;
    display: inline-flex;
    width: 100%;
    height: 25px;
}

canvas {
    margin-top: 25px;
}

#toolbar button {
    color: #ffffff;
    background: #25282C;
    height: 25px;
    width: 25px;
    text-decoration: none;
    border: 0;
    outline: none;
    float: right;
    padding-top: 5px;
    margin-right: 10px;
}

#toolbar .box {
    width: 50%;
    margin: 0 auto;
}

.red {
    color: #DE5151;
}

.green{
    color: #39C139;
}

#toolbar button:hover {
    text-decoration: none;
}

.ace_editor {
    position: fixed;
    top: 25px;
    right: 0;
    bottom: 0;
    left: 50%;
}

.logo {
    height: 25px;
    width: 110px;
    margin-left: 50px;
    display: inline-block;
}

.bounceInDown {
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.bounceOutUp {
    -webkit-animation-name: bounceOutUp;
    animation-name: bounceOutUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.bounceOutDown {
    -webkit-animation-name: bounceOutDown;
    animation-name: bounceOutDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes bounceInDown {
    0% {
        -webkit-transform: translateY(-2000px);
    }
    100% {
        -webkit-transform: translateY(0);
    }
}

@keyframes bounceInDown {
    0% {
        transform: translateY(-2000px);
    }
    100% {
        transform: translateY(0);
    }
}

@-webkit-keyframes bounceOutUp {
    0% {
        -webkit-transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-2000px);
    }
}

@keyframes bounceOutUp {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-2000px);
    }
}

@-webkit-keyframes bounceOutDown {
    0% {
        -webkit-transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(2000px);
    }
}

@keyframes bounceOutDown {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(2000px);
    }
}

@-webkit-keyframes bounceInUp {
    0% {
        -webkit-transform: translateY(2000px);
    }
    100% {
        -webkit-transform: translateY(0);
    }
}

@keyframes bounceInUp {
    0% {
        transform: translateY(2000px);
    }
    100% {
        transform: translateY(0);
    }
}

.bounceInUp {
    -webkit-animation-name: bounceInUp;
    animation-name: bounceInUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}


