body {
    margin: 0;
    overflow: hidden;
}

#gameCanvas {
    margin-top: 25px;
}

#toolbar {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #25282C;
    color: #C5C8C6;
    bottom: 95%;
    display: inline-flex;
    width: 100%;
    height: 25px;
}

.damage {
    position: fixed;
    bottom: 25px;
    right: 0;
    left: 0;
    height: 25px;
    margin-left: 10px;
}

.health {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 25px;
    margin-left: 10px;
}

.shield {
    position: fixed;
    bottom: 50px;
    right: 0;
    left: 0;
    height: 25px;
    margin-left: 10px;
}

canvas {
    margin-top: 25px;
}

#toolbar button {
    color: #ffffff;
    background: #25282C;
    height: 25px;
    width: 25px;
    text-decoration: none;
    border: 0;
    outline: none;
    float: right;
    padding-top: 5px;
    margin-right: 10px;
}

#toolbar .box {
    width: 50%;
    margin: 0 auto;
}

.red {
    color: #DE5151;
}

.green {
    color: #39C139;
}

.blue {
    color: #3b83c1;
}

.yellow {
    color: #f8ef83;
}

.orange {
    color: #f88e36;
}

.containerLeadBoard {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    background: rgba(0, 0, 0, 0.65);
    z-index: 1000;
    overflow-y: auto;
    padding-top: 60px;
    padding-bottom: 60px;
}

.leadBoard table,
.leadBoard td
{
    margin: auto;
    text-align: center;
    padding-top: 10px;
}

.leadBoard {
    position: relative;
    width: 60%;
    list-style: none;
    padding: 0;
    font-size: 1.1em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    z-index: 1001;
    margin: auto auto 0;
}

.leadBoard .leadBoardTitle i {
    color: #2e3435;
    position: absolute;
    right: -25px;
    vertical-align: middle;
    background: white;
    width: 25px;
    cursor: pointer;
    line-height: 30px;
    top: 7px;
}

.leadBoard .leadBoardTitle span {
    line-height: 46px;
    font-size: 40px;
    font-weight: normal;
    color: #2e3435;
    font-family: Arial, sans-serif;
}

.leadBoardTitle {
    min-height: 46px;
    font-weight: 500;
    background: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
    border: 1px solid rgba(37, 40, 44, 0.1);
    border-bottom: 0;
}

.leadBoardDescription {
    font-family: Arial, sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    word-wrap: break-word;
    white-space: pre-wrap;
    background: rgb(255, 255, 255);
    min-height: 46px;
    color: rgb(80, 80, 80);
    text-align: left;
    border: 1px solid rgba(37, 40, 44, 0.1);
    padding: 0 25px 20px;
}

.eventContentHeading {
    line-height: 25px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    background: #f7f7f7;
    opacity: 0.8;
}

.leadBoardSocial {
    min-height: 46px;
    font-family: Arial, sans-serif;
    letter-spacing: 1px;
    color: rgb(80, 80, 80);
    text-align: left;
    background: rgb(255, 255, 255);
    border: 1px solid rgba(37, 40, 44, 0.1);
    border-top: 0;
}

.leadBoardSocial a {
    float: right;
    padding: 7px;
}

.leadBoardSocial div {
    float: left;
    padding: 13px;
}

.leadBoardSubscribe {
    padding: 13px;
    background: rgb(255, 255, 255);
    border-top: 0;
    border-right: 1px solid rgba(37, 40, 44, 0.1);
    border-left: 1px solid rgba(37, 40, 44, 0.1);
    border-bottom: 2px solid rgba(37, 40, 44, 0.1);
}

.leadBoardSubscribe div {
    margin: auto;
}

#toolbar button:hover {
    text-decoration: none;
}

.containerButtons {
    position: fixed;
    left: 74%;
    top: 74%;
}

.leftToolbar button {
    left: 0;
    top: 50px;
    padding: 0;
    position: fixed;
    border: 0;
    width: 25px;
    background: #25282C;
    color: #fff;
    height: 25px;
    outline: 0;
}

.tutorial {
    overflow-y: auto;
    position: fixed;
    top: 25px;
    right: 50%;
    bottom: 0;
    left: 0;
    background: #1D1F21;
    color: #C5C8C6;
}

.tutorial h3,
.tutorial h5 {
    text-align: center;
}

.tutorial ul {
    list-style-type: square;
}

.tutorial ul {
    font-style:italic;
    font-family:Georgia, Times, serif;
    font-size:24px;
    color:#39C139;
}

.tutorial ul li p {
    margin: 0;
    padding:8px;
    font-family: Arial, serif;
    font-size:13px;
    color:#C5C8C6;
    border-left: 1px solid #999;
    font-style: normal;
}

.tutorial ul li p em {
    display: block;
    font-size: 1.4em;
    font-style: normal;
}

.objects li:hover {
    cursor: pointer;
}

.ace_editor {
    position: fixed;
    top: 25px;
    right: 0;
    bottom: 0;
    left: 50%;
}

.logo {
    height: 25px;
    width: 110px;
    margin-left: 50px;
    display: inline-block;
}

.bounceInUp {
    -webkit-animation-name: bounceInUp;
    animation-name: bounceInUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.bounceInDown {
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.bounceOutUp {
    -webkit-animation-name: bounceOutUp;
    animation-name: bounceOutUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.bounceOutDown {
    -webkit-animation-name: bounceOutDown;
    animation-name: bounceOutDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.bounceInLeft {
    -webkit-animation-name: bounceInLeft;
    animation-name: bounceInLeft;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.bounceOutLeft {
    -webkit-animation-name: bounceOutLeft;
    animation-name: bounceOutLeft;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes bounceInDown {
    0% {
        -webkit-transform: translateY(-2000px);
    }
    100% {
        -webkit-transform: translateY(0);
    }
}

@keyframes bounceInDown {
    0% {
        transform: translateY(-2000px);
    }
    100% {
        transform: translateY(0);
    }
}

@-webkit-keyframes bounceOutUp {
    0% {
        -webkit-transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-2000px);
    }
}

@keyframes bounceOutUp {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-2000px);
    }
}

@-webkit-keyframes bounceOutDown {
    0% {
        -webkit-transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(2000px);
    }
}

@keyframes bounceOutDown {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(2000px);
    }
}

@-webkit-keyframes bounceInUp {
    0% {
        -webkit-transform: translateY(2000px);
    }
    100% {
        -webkit-transform: translateY(0);
    }
}

@keyframes bounceInUp {
    0% {
        transform: translateY(2000px);
    }
    100% {
        transform: translateY(0);
    }
}

@-webkit-keyframes bounceInLeft {
    0% {
        -webkit-transform: translateX(-2000px);
    }
    100% {
        -webkit-transform: translateX(0);
    }
}

@keyframes bounceInLeft {
    0% {
        transform: translateX(-2000px);
    }
    100% {
        transform: translateX(0);
    }
}

@-webkit-keyframes bounceOutLeft {
    0% {
        -webkit-transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(-2000px);
    }
}
@keyframes bounceOutLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-2000px);
    }
}
