body {
    margin: 0;
    overflow: hidden;
}

#game-canvas {
    position: fixed;
    top: 25px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.toolbar {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #152B39;
    color: #C5C8C6;
    bottom: 95%;
    display: inline-flex;
    width: 100%;
    height: 25px;
	border-bottom: 1px solid rgba(0,0,0,0.45);
}

.toolbar-min {
	position: fixed;
	top: 0;
	right: 100px;
	left: 100px;
	background-color: #152B39;
	color: #C5C8C6;
	bottom: 95%;
	display: inline-flex;
	height: 25px;
	border-bottom: 1px solid rgba(0,0,0,0.45);
}

.kineticjs-content {
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: rotate-in-down-left;
    animation-name: rotate-in-down-left;
}

.ui-splitbar {
    background-color: #1D1F21;
}

.ui-splitbar .glyphicon {
    color: transparent;
}

.ui-layout-column {
    margin-top: 25px;
    z-index: 500;
}

.enjoyhint_close_btn {
    visibility: hidden;
}

.enjoyhint_skip_btn,
.enjoyhint_next_btn {
    border: 2px solid #39C139;
    color: #39C139;
}

.enjoyhint_skip_btn:hover,
.enjoyhint_next_btn:hover {
    color: rgba(255, 255, 255, 1);
    background: #39C139;
}

.point {
    display: inline-block;
    height: 60%;
    width: 5px;
    border: 1px solid #338c33;
    margin-left: 2px;
}

.point-full {
    background: #39C139;
}

.points-block {
    padding-top: 2px;
    display: inline-block;
    height: 100%;
}

.points-bar {
    position: fixed;
    width: 30%;
    right: 0;
    left: 0;
    height: 25px;
    margin-left: 10px;
}

.points-hint {
    position: fixed;
    width: 100px;
    right: 0;
    left: 0;
    height: 150px;
    bottom: 100px;
    margin-left: 10px;
}

.damage-points {
    bottom: 100px;
}

.range-points {
    bottom: 125px;
}

.rate-points {
    bottom: 150px;
}

.move-speed-points {
    bottom: 175px;
}

.regen-points {
    bottom: 200px;
}

.free-points {
    bottom: 225px;
}

.params-hint {
    position: fixed;
    bottom: 0;
    width: 100px;
    right: 0;
    left: 0;
    height: 75px;
    margin-left: 10px;
}

.damage {
    position: fixed;
    bottom: 50px;
    width: 30%;
    right: 0;
    left: 0;
    height: 25px;
    margin-left: 10px;
}

.health {
    position: fixed;
    bottom: 0;
    width: 30%;
    right: 0;
    left: 0;
    height: 25px;
    margin-left: 10px;
}

.shield {
    position: fixed;
    bottom: 25px;
    width: 30%;
    right: 0;
    left: 0;
    height: 25px;
    margin-left: 10px;
}

.toolbar button {
    color: #ffffff;
    background: #152B39;
    height: 25px;
    width: 25px;
    text-decoration: none;
    border: 0;
    outline: none;
    float: right;
    padding-top: 3px;
    margin-right: 10px;
	border-bottom: 1px solid rgba(0,0,0,0.45);
}

.toolbar button:hover {
    color: #fff;
    text-decoration: none;
    background: #1D3C50;
}

.toolbar .box {
    width: 50%;
    margin: 0 auto;
}

.red {
    color: #DE5151;
}

.green {
    color: #39C139;
}

.blue {
    color: #3b83c1;
}

.yellow {
    color: #f8ef83;
}

.orange {
    color: #f88e36;
}

.container-white-board,
.result-background,
.pages-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 2000;
    overflow-y: auto;
}

.container-white-board
{
	background: rgba(0, 0, 0, 0.65);
	padding-top: 60px;
	padding-bottom: 60px;
}

.result-background {
	background-image: url('../assets/space.png');
	background-size: cover;
	padding-top: 60px;
	padding-bottom: 60px;
}

.pages-background {
	padding: 30px 100px;
	background-image: url('../assets/space.png');
	background-size: cover;
}

.pages-board > div {
	float: left;
	padding: 5px;
}

.pages-board .container-inside:hover {
	box-shadow: 0 3px 7px rgba(0,0,0,0.2);
}

.pages-board img {
	height: 100%;
	width: 100%;
}

.pages-board a {
	text-decoration: none;
}

.pages-board .container-inside {
	cursor: pointer;
	color: #5b5b5b;
	position: relative;
	box-shadow: 0 1px 2px rgba(0,0,0,0.15);
	transition: all .15s ease;
	height: 100%;
	width: 100%;
	background: rgba(255, 255, 255, 0.95);
}

.pages-board {
	background-color: rgba(250, 248, 242, 0.95);
	position: fixed;
	left: 100px;
	right: 100px;
	bottom: 50px;
	top: 25px;
	overflow: auto;
}

.pages-footer {
	height: 50px;
	position: fixed;
	top: auto;
	left: 100px;
	right: 100px;
	background-color: #152B39;
	bottom: 0;
	border-top: 1px solid rgba(0,0,0,0.45);
}

.pages-footer-text {
	cursor: default;
	position: fixed;
	right: 250px;
	bottom: 13px;
	color: white;
}

.pages-footer div {
	height: 50px;
	position: relative;
	width: 100%;
	padding-left: 100px;
	padding-right: 100px;
}

.container-25 {
	width: 25%;
	height: 360px;
}

.container-75 {
	width: 75%;
	height: 360px;
}


.container-100 {
	width: 100%;
}

.container-50 {
	width: 50%;
	height: 360px;
}

.container-50 {
	width: 50%;
	height: 360px;
}

.white-board table,
.white-board td {
    margin: auto;
    text-align: center;
    padding-top: 10px;
}

.white-board {
    position: relative;
    width: 60%;
    list-style: none;
    padding: 0;
    font-size: 1.1em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    margin: auto auto 0;
}

.white-board .white-board-title .first-icon {
    top: 7px;
}

.white-board .white-board-title .second-icon {
    top: 50px;
}

.white-board .white-board-title .third-icon {
    top: 75px;
}

.white-board .white-board-title .fourth-icon {
    top: 118px;
}

.white-board .white-board-title i {
    color: #2e3435;
    position: absolute;
    right: -25px;
    vertical-align: middle;
    background: white;
    width: 25px;
    cursor: pointer;
    line-height: 30px;
}

.white-board .white-board-title span {
    line-height: 46px;
    font-size: 40px;
    font-weight: normal;
    color: #2e3435;
    font-family: Arial, sans-serif;
}

.white-board-title {
    min-height: 46px;
    font-weight: 500;
    background: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid rgba(37, 40, 44, 0.1);
    border-bottom: 0;
}

.white-board-description {
    font-family: Arial, sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    word-wrap: break-word;
    background: rgb(255, 255, 255);
    min-height: 46px;
    color: rgb(80, 80, 80);
    text-align: left;
    border-top: 1px solid rgba(37, 40, 44, 0.1);
    padding: 0 25px 20px;
}

.white-board-description img {
    width: 100%;
}

.white-board-description .first-p {
    text-indent: 1.5em;
}

.white-board-description p {
    margin: 10px 0 10px 0;
}

.white-board-social {
    min-height: 46px;
    font-family: Arial, sans-serif;
    letter-spacing: 1px;
    color: rgb(80, 80, 80);
    text-align: left;
    background: rgb(255, 255, 255);
    border: 1px solid rgba(37, 40, 44, 0.1);
    border-top: 0;
}

.white-board-social a {
    float: right;
    padding: 7px;
}

.white-board-social div {
    float: left;
    padding: 13px;
}

.white-board-subscribe {
    padding: 13px;
    background: rgb(255, 255, 255);
    border-top: 0;
    border-right: 1px solid rgba(37, 40, 44, 0.1);
    border-left: 1px solid rgba(37, 40, 44, 0.1);
    border-bottom: 2px solid rgba(37, 40, 44, 0.1);
}

.white-board-subscribe div {
    margin: auto;
}

.containerButtons {
    position: fixed;
    left: 74%;
    top: 74%;
}

.left-toolbar .tutorial-button {
    top: 70px;
}

.left-toolbar .feedback-button {
    top: 95px;
}

.left-toolbar .tips-button {
    top: 120px;
}

.left-toolbar * {
	z-index: 1000;
}

.stretch {
    overflow: hidden;
}

.left-toolbar .feedback-button,
.left-toolbar .tutorial-button,
.left-toolbar .tips-button {
    left: 0;
    padding: 0;
    position: fixed;
    border: 0;
    width: 25px;
    background: #152B39;
    color: #fff;
    height: 25px;
    outline: 0;
}

.left-toolbar .feedback-button:hover,
.left-toolbar .tutorial-button:hover,
.left-toolbar .tips-button:hover{
    left: 0;
    padding: 0;
    position: fixed;
    border: 0;
    width: 25px;
    background: #1D3C50;
    color: #fff;
    height: 25px;
    outline: 0;
}

.ace-tomorrow-night .ace_gutter {
	background: #152B39 !important;
}

.ace-tomorrow-night .ace_gutter-active-line {
	background: #1D3C50 !important;
}

.ace_gutter-layer {
	border-left: 1px solid rgba(0, 0, 0, 0.45) !important;
	border-right: 1px solid rgba(0, 0, 0, 0.45) !important;
}

.lesson-board {
	background: #fff;
	color: #152B39;
	bottom: 0;
	height: 100%;
	width: 100%;
}

.documentation {
	background: #fff;
	color: #152B39;
	bottom: 0;
	height: 100%;
	width: 100%;
}

.documentation h3,
.documentation h5 {
    text-align: center;
}

.documentation ul {
    list-style-type: circle;
}

.documentation ul {
    font-style: italic;
    font-family: Georgia, Times, serif;
    font-size: 24px;
    color: #152B39;
	border-bottom: 1px solid #E1E2E2;
	background-color: #F6F6F6;
}

.documentation ul li p {
    margin: 0;
	background-color: #fff;
    padding: 8px;
    font-family: Arial, serif;
    font-size: 13px;
    color: rgb(80, 80, 80);
    border-left: 1px solid #E1E2E2;
    font-style: normal;
}

.documentation ul li p em {
    display: block;
    font-size: 1.4em;
    font-style: normal;
}

.objects li:hover {
    cursor: pointer;
}

.main-editor {
    width: 100%;
    height: 100%;
}

.logo {
    height: 25px;
    width: 110px;
    margin-left: 50px;
    display: inline-block;
	cursor: pointer;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.rotate-out-down-left {
    -webkit-animation-duration: 0.25s;
    animation-duration: 0.25s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: rotate-out-down-left;
    animation-name: rotate-out-down-left;
}

.rotate-in-down-left {
    -webkit-animation-duration: 0.25s;
    animation-duration: 0.25s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: rotate-in-down-left;
    animation-name: rotate-in-down-left;
}

@-webkit-keyframes rotate-in-down-left {
    0% {
        -webkit-transform-origin: left bottom;
        -webkit-transform: rotate(-90deg);
        opacity: 1;
    }
    100% {
        -webkit-transform-origin: left bottom;
        -webkit-transform: rotate(0deg);
        opacity: 1;
    }
}

@keyframes rotate-in-down-left {
    0% {
        transform-origin: left bottom;
        transform: rotate(-90deg);
        opacity: 1;
    }
    100% {
        transform-origin: left bottom;
        transform: rotate(0deg);
        opacity: 1;
    }
}

@-webkit-keyframes rotate-out-down-left {
    0% {
        -webkit-transform-origin: left bottom;
        -webkit-transform: rotate(0deg);
        opacity: 1;
    }
    100% {
        -webkit-transform-origin: left bottom;
        -webkit-transform: rotate(90deg);
        opacity: 1;
    }
}

@keyframes rotate-out-down-left {
    0% {
        transform-origin: left bottom;
        transform: rotate(0deg);
        opacity: 1;
    }
    100% {
        transform-origin: left bottom;
        transform: rotate(90deg);
        opacity: 1;
    }
}

.error-board {
	z-index: 500;
	overflow-y: auto;
	position: absolute;
	top: 85%;
	width: 100%;
	height: 100%;
	border-left: 41px solid #152B39;
	bottom: 0;
	background: #1D1F21;
	color: #C5C8C6;
}

.error-board .close-button {
    border: 0;
    width: 100%;
    background: #152B39;
    color: #fff;
    height: 25px;
    outline: 0;
}

.close-button button {
    color: #ffffff;
    background: #152B39;
    height: 25px;
    width: 25px;
    text-decoration: none;
    border: 0;
    outline: none;
    float: right;
    padding-top: 3px;
    margin-right: 10px;
}

.close-button button:hover {
    color: #fff;
    text-decoration: none;
    background: #1D3C50;
}

.error-board .error-msg {
    padding-top: 5px;
    padding-left: 5px;
}

.img-small-center {
    width: 30%;
    margin: auto;
}

.img-medium-center {
    width: 50%;
    margin: auto;
}

.img-huge-center {
    width: 100%;
    margin: auto;
}

.text-indent {
    text-indent: 1.2em;
}

.astrogirl-img {
	height: 150px;
	width: 170px;
	background-image: url(../assets/pages/astro1.png);
	background-repeat: no-repeat;
	overflow: hidden;
}

.send-img {
	background-image: url(../assets/pages/astronaut6.png);
}

.tips-img {
	background-image: url(../assets/pages/galaxy2.png);
}

.learn-img {
	background-image: url(../assets/pages/stars4.png);
}

.rocket-white-img {
	background-image: url(../assets/pages/rocket56white.png);
}

.game-img {
	background-image: url(../assets/pages/rocket55.png);
}

.js-img {
	background-image: url(../assets/pages/javascript.png);
}

.pages-footer-img {
	position: fixed;
	bottom: 0;
	top: auto;
	left: 125px;
	height: 70px;
	z-index: 2000;
	width: 70px;
	background-position: 50% 50%;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
}

.pages-img-green {
	background-color: #84bf7c;
}

.pages-img-blue {
	background-color: #5293CC;
}

.pages-img-red {
	background-color: #712525;
}

.pages-img {
	height: 250px;
	background-position: 50% 50%;
	width: 100%;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	overflow: hidden;
}

.pages-label {
	margin: 17px 25px 12px;
	font-size: 12px;
	font-weight: 300;
	color: #999999;
}

.pages-text {
	margin: 17px 25px 20px;
	max-height: 42px;
	overflow: hidden;
	font-size: 14px;
	line-height: 20px;
}


.pages-title {
	margin: 50px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	z-index: 3000;
	position: fixed;
	top: 0;
	left: 0;
	height: 27px;
	right: 0;
	background-color: transparent;
}

.pages-title .logo {
	width: 300px;
	height: 67px;
}

.bar {
	position:absolute;
	background: rgba(100, 100, 200, 0.5);
	z-index: 40
}

.pane-title {
	background: #F6F6F6;
	color: #969696;
	width: 100%;
	top: 25px;
	height: 40px;
	padding: 10px;
	font-weight: 600;
	border-bottom: 1px solid rgba(37, 40, 44, 0.1);
}

.pane-title-inner {
	margin: auto;
	max-width: none;
	width: 80%;
}

.content-overflow {
	height: 100%;
	overflow-y: auto;
	padding-bottom: 40px;
}


.content-description {
	height: 100%;
}

.content-center {
	max-width: none;
	width: 85%;
	margin: 30px auto 0;
}

.lesson-title {
	font-size: 30px;
	font-weight: 500;
}

.lesson-content {
	margin-top: 15px;
	font-size: 15px;
	line-height: 20px;
}

.lesson-instructions {
	font-family: "Courier New", serif;
	color: white;
	background-color: #1D1F21;
	border-bottom: 1px solid #E1E2E2;
	border-top: 1px solid #E1E2E2;
	margin-top: 35px;
	padding-bottom: 20px;
}

.lesson-instructions .lesson-content {
	background-color: #1D1F21;
}

.lesson-content-overflow {
	top: 40px;
	bottom: 175px;
	height: initial;
	width: 100%;
	position: absolute;
}

div.thought {
	position: relative;
	width: 130px;
	height: 100px;
	text-align: center;
	line-height: 100px;
	background-color: #fff;
	border: 8px solid #666;
	-webkit-border-radius: 58px;
	-moz-border-radius: 58px;
	border-radius: 58px;
	-webkit-box-shadow: 2px 2px 4px #888;
	-moz-box-shadow: 2px 2px 4px #888;
	box-shadow: 2px 2px 4px #888;
}

div.thought:before, p.thought:after {
	left: 10px;
	top: 70px;
	width: 40px;
	height: 40px;
	background-color: #fff;
	border: 8px solid #666;
	-webkit-border-radius: 28px;
	-moz-border-radius: 28px;
	border-radius: 28px;
}

div.thought:after {
	width: 20px;
	height: 20px;
	left: 5px;
	top: 100px;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
}

div.helper {
	border-top: 5px solid #1D1F21;
	position: absolute;
	bottom: 0;
	background-color: #152B39;
	width: 100%;
}

div.helper .astrogirl-img {
	margin-top: 20px;
}

div.helper:before {
	border-color: #1D1F21 transparent;
	display: block;
	width: 0;
	content: "";
	position: absolute;
	left: 40px;
	border-width: 20px 20px 0;
	border-style: solid;
}

div.helper:after {
	content: "";
	position: absolute;
	top: -5px;
	left: 43px;
	border-width: 17px 17px 0;
	border-style: solid;
	border-color: #FFFFFF transparent;
	display: block;
	width: 0;
}

.helper .button-block {
	position: absolute;
	right: 0;
	left: 150px;
	bottom: 0;
	height: 170px;
}

.button-block > div {
	height: 50px;
	max-width: none;
	width: 85%;
	margin: 30px auto 0;
}

.button-block > div > div {
	text-align: center;
	border: 5px solid rgb(11, 10, 12);
	background-color: #FFFFFF;
	color: #1D1F21;
	padding: 10px;
	text-decoration: none;
}
