* {
	margin:0; padding:0;
}

html {
	overflow:hidden;
}

body {
	font-family: Arial, sans-serif;
}

.bbot-container {
	position: fixed;
	right: 0;
	bottom: 0;
	margin-right: 20px;
	width: 20%;
	height: 30%;
}

.speech-bubble {
	position: absolute;
	color: #5b5b5b;
	font-weight: 300;
	background: rgba(250, 248, 242, 0.95);
	border-radius: .4em;
	right: 50px;
	bottom: 230px;
	height: auto;
	width: 100%;
	word-wrap: break-word;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 80%;
	width: 0;
	height: 0;
	border: 28px solid transparent;
	border-top-color: rgba(250, 248, 242, 0.95);
	border-bottom: 0;
	border-right: 0;
	margin-left: -14px;
	margin-bottom: -28px;
}

.bubble-text {
	padding: 10px;
}

.bbot-sprite {
	height: 200px;
	position: absolute;
	bottom: 0;
	right: 0;
}

.bbot-sprite img {
	height: 100%;
}

.error-code-container {
	text-align: center;
	color: #fff;
	position: fixed;
	margin-left: 10px;
	left: 0;
	top: 0;
	text-decoration: none;
	font-size: 200px;
}

.error-code-container:hover {
	color: rgb(199, 199, 199);
}

@media (max-width: 768px) {

	.bbot-container {
		display: none;
	}

	.error-code-size {
		font-size: 100px;
	}
}
