body {
	margin: 0;
	overflow: hidden;
}

button,
a,
[role=button],
select,
.enjoyhint_next_btn {
	cursor: url(../images/cursors/pointer-cursor.svg), pointer;
}

body,
.ace_gutter {
	cursor: url(../images/cursors/default-cursor.svg), default;
}

#game-canvas {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 50px;
	z-index: -1;
}

pre {
	background-color: rgb(21, 43, 57);
	border: 0;
	color: #C0C3C1;
}

.toolbar-min {
	position: fixed;
	top: 0;
	right: 100px;
	left: 100px;
	background-color: #152B39;
	color: #C5C8C6;
	bottom: 95%;
	display: inline-flex;
	height: 25px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.45);
}

.ui-splitbar {
	background-color: rgba(0, 0, 0, 0);
	overflow: hidden;
}

.ace-tomorrow-night {
	background-color: rgba(29, 31, 33, 0.8) !important;
}

.ace_gutter-layer {
	z-index: 1000 !important;
}

.ace_editor.ace_autocomplete {
	background-color: #152b39 !important;
	color: #E1E2E2 !important;
	border: 1px solid #0a151c !important;
}

.Ace-Tern-tooltip,
.ace_tooltip {
	font: 12px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace !important;
	background-color: #152b39 !important;
	border: 1px solid #0a151c !important;
	border-radius: 0 !important;
	color: #C5C8C6 !important;
	z-index: 200000 !important;
}

.Ace-Tern-tooltip > select[multiple],
.Ace-Tern-tooltip > input {
	width: 100% !important;
	outline: none !important;
	background: #0c181f !important;
	border: 0 !important;
}

.Ace-Tern-tooltip > button {
	background: #0c181f !important;
	border: 0 !important;
	width: 100% !important;
	border-top: 1px solid #152b39 !important;
}

.Ace-Tern-type {
	color: #b294bb !important;
}

.Ace-Tern-farg {
	color: #de935f !important;
}

.Ace-Tern-farg-current {
	color: #de935f !important;
}

.Ace-Tern-tooltip-boxclose:hover {
	background-color: initial !important;
	text-decoration: none !important;
	color: #CB4C4C !important;
}

.Ace-Tern-tooltip-boxclose {
	position: absolute !important;
	top: 0 !important;
	right: 3px !important;
	color: #C71E14 !important;
}

.ace_editor.ace_autocomplete .ace_marker-layer .ace_active-line,
.ace_editor.ace_autocomplete .ace_marker-layer .ace_line-hover {
	background-color: #0C181F !important;
	z-index: 1 !important;
}

.ace_editor.ace_autocomplete .ace_marker-layer .ace_line-hover {
	border: 0 !important;
}

.ace_editor.ace_autocomplete .ace_completion-highlight {
	color: #D08A5A !important;
	text-shadow: 0 0 0.01em !important;
}

.ace_content {
	z-index: 0 !important;
}

.ui-splitbar .glyphicon {
	color: transparent;
}

.ui-layout-column {
	z-index: 500;
}

.ui-layout-custom {
	right: 54px;
	top: 4px;
	left: 4px;
	bottom: 4px;
}

.enjoy_hint_label {
	font-size: 17px;
	font-family: Courier, serif;
}

.enjoyhint_close_btn {
	visibility: hidden;
}

.enjoyhint_skip_btn,
.enjoyhint_next_btn {
	border: 2px solid #39C139;
	color: #39C139;
}

.enjoyhint_skip_btn:hover,
.enjoyhint_next_btn:hover {
	color: rgba(255, 255, 255, 1);
	background: #39C139;
}

.enjoyhint_next_btn:active {
	border: 2px solid #39C139;
}

.point {
	display: inline-block;
	height: 60%;
	width: 5px;
	border: 1px solid #338c33;
	margin-left: 2px;
}

.point-full {
	background: #39C139;
}

.points-block {
	padding-top: 2px;
	display: inline-block;
	height: 100%;
}

.game-canvas-points-bar {
	top: 10px;
}

.game-canvas-params-bar {
	bottom: 0;
}

.game-canvas-group {
	position: fixed;
	margin-left: 10px;
	width: 30%;
	left: 0;
}

.points-bar {
	display: inline-block;
	height: 25px;
	width: 100%;
	float: left;
}

.points-hint {
	position: fixed;
	width: 100px;
	right: 0;
	left: 0;
	height: 150px;
	top: 0;
	margin-left: 10px;
}

.params-hint {
	position: fixed;
	bottom: 0;
	width: 100px;
	left: 0;
	height: 75px;
	margin-left: 10px;
}

.params-bar {
	width: 100%;
	height: 25px;
}

.red-label {
	background: rgba(198, 31, 14, 0.55);
	padding: 2px;
}

.under-label {
	white-space: pre;
	border-bottom: 2px solid rgba(198, 31, 14, 0.55);
}

.under-label-gray {
	white-space: pre;
	border-bottom: 2px solid #C0C3C1;
}

.red {
	color: #DE5151;
}

.green {
	color: #39C139;
}

.dark-green {
	color: #113811
}

.blue {
	color: #3b83c1;
}

.yellow {
	color: #f8ef83;
}

.orange {
	color: #f88e36;
}

.lesson-end-content {
	width: 100%;
	text-align: center;
	position: absolute;
	color: #FFFFFF;
	top: 30%;
}

.container-white-board,
.lesson-end-background,
.result-background,
.pages-background,
.login-background {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	z-index: 2000;
	overflow-y: auto;
}

.container-white-board {
	background: rgba(0, 0, 0, 0.65);
	padding-top: 60px;
	padding-bottom: 60px;
}

.login-background {
	z-index: -1000;
	background-image: url('../images/space.jpg');
	background-size: cover;
}

.lesson-end-background {
	z-index: 3000;
	background-size: cover;
	background-color: rgba(21, 43, 57, 0.9);
}

.result-background {
	background-image: url('../images/space.jpg');
	background-size: cover;
	padding-top: 5%;
	padding-bottom: 60px;
}

.pages-background {
	padding: 30px 100px;
	background-image: url('../images/space.jpg');
	background-size: cover;
}

.pages-board > div {
	float: left;
	padding: 5px;
}

.pages-board .container-inside:hover {
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
}

.pages-board img {
	height: 100%;
	width: 100%;
}

.pages-board a {
	text-decoration: none;
}

.pages-board .container-inside {
	cursor: url(../images/cursors/pointer-cursor.svg), pointer;
	color: #5b5b5b;
	position: relative;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
	transition: all .15s ease;
	height: 100%;
	width: 100%;
	background: rgba(255, 255, 255, 0.95);
}

.pages-board .vk-container-inside {
	padding: 2px;
}

.pages-board .chart-inside {
	padding: 20px;
	max-width: 600px;
	margin: auto;
	height: 85%;
}

.pages-board {
	background-color: rgba(250, 248, 242, 0.95);
	position: fixed;
	left: 100px;
	right: 100px;
	bottom: 50px;
	top: 25px;
	overflow: auto;
}

.pages-footer {
	height: 50px;
	position: fixed;
	top: auto;
	left: 100px;
	right: 100px;
	background-color: #152B39;
	bottom: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.45);
}

.pages-footer-text {
	cursor: url(../images/cursors/pointer-cursor.svg), pointer;
	position: fixed;
	right: 150px;
	bottom: 13px;
	color: white;
	font-weight: bold;
}

.pages-footer div {
	height: 50px;
	position: relative;
	width: 100%;
	padding-left: 100px;
	padding-right: 100px;
}

.container-25 {
	width: 25%;
	height: 360px;
}

.container-75 {
	width: 75%;
	height: 360px;
}

.container-100 {
	width: 100%;
}

.container-50 {
	width: 50%;
	height: 360px;
}

.white-board table,
.white-board td {
	margin: auto;
	text-align: center;
	padding-top: 10px;
}

.white-board {
	position: relative;
	width: 60%;
	list-style: none;
	padding: 0;
	font-size: 1.1em;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	margin: auto auto 0;
}

.white-board .white-board-title .first-icon {
	top: 7px;
}

.white-board .white-board-title .second-icon {
	top: 50px;
}

.white-board .white-board-title .third-icon {
	top: 75px;
}

.white-board .white-board-title .fourth-icon {
	top: 118px;
}

.white-board .white-board-title i {
	color: #2e3435;
	position: absolute;
	right: -25px;
	vertical-align: middle;
	background: white;
	width: 25px;
	cursor: url(../images/cursors/pointer-cursor.svg), pointer;
	line-height: 30px;
}

.white-board .white-board-title span {
	line-height: 46px;
	font-size: 40px;
	font-weight: normal;
	color: #2e3435;
	font-family: Arial, sans-serif;
}

.white-board-title {
	min-height: 46px;
	font-weight: 500;
	background: rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	text-align: center;
	padding: 20px;
	border-bottom: 1px solid rgba(37, 40, 44, 0.1);
	border-bottom: 0;
}

.white-board-description {
	font-family: Arial, sans-serif;
	font-size: 18px;
	letter-spacing: 1px;
	word-wrap: break-word;
	background: rgb(255, 255, 255);
	min-height: 46px;
	color: rgb(80, 80, 80);
	text-align: left;
	border-top: 1px solid rgba(37, 40, 44, 0.1);
	padding: 0 25px 20px;
}

.white-board-description img {
	width: 100%;
}

.white-board-description .first-p {
	text-indent: 1.5em;
}

.white-board-description p {
	margin: 10px 0 10px 0;
}

.white-board-social {
	min-height: 46px;
	font-family: Arial, sans-serif;
	letter-spacing: 1px;
	color: rgb(80, 80, 80);
	text-align: left;
	background: rgb(255, 255, 255);
	border: 1px solid rgba(37, 40, 44, 0.1);
	border-top: 0;
}

.white-board-social a {
	float: right;
	padding: 7px;
}

.white-board-social div {
	float: left;
	padding: 13px;
}

.white-board-subscribe {
	padding: 13px;
	background: rgb(255, 255, 255);
	border-top: 0;
	border-right: 1px solid rgba(37, 40, 44, 0.1);
	border-left: 1px solid rgba(37, 40, 44, 0.1);
	border-bottom: 2px solid rgba(37, 40, 44, 0.1);
}

.white-board-subscribe div {
	margin: auto;
}

.containerButtons {
	position: fixed;
	left: 74%;
	top: 74%;
}

.right-toolbar {
	width: 50px;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	background-color: #152B39;
	border-left: 1px solid #0C181F;
}

.right-toolbar .right-toolbar-button {
	width: 40px;
	height: 40px;
	font-size: 25px;
	text-align: center;
	padding: 7px;
	color: #fff;
	border-bottom: 1px solid rgb(21, 43, 57);
	cursor: url(../images/cursors/pointer-cursor.svg), pointer;
	background-color: #0C181F;
	margin-left: 5px;
	margin-right: 5px;
}

.right-toolbar .right-toolbar-new-group {
	margin-top: 10px;
}

.right-toolbar .right-toolbar-button:hover {
	background-color: #1D3C50;
}

.right-toolbar .right-toolbar-green {
	color: #39C139;
}

.right-toolbar .right-toolbar-red {
	color: #DE5151;
}

.right-toolbar .right-toolbar-icon {
	margin: 0 0 10px;
	background-image: url(../images/pages/rocket-white-2.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-color: #0C181F;
	width: 50px;
	height: 50px;
}

.close-button-wrapper {
	position: fixed;
	z-index: 2;
	top: 0;
	right: 0;
}

.close-button {
	height: 48px;
	width: 48px;
	right: calc(2.5vw - 24px);
	top: calc(4vh - 24px);
	position: absolute;
	z-index: 2;
	cursor: url(../images/cursors/pointer-cursor.svg), pointer;
	border-radius: 50%;
	border: none;
	outline: none;
	background-color: rgba(0, 0, 0, 0.8);
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	color: transparent;
}

.close-button span {
	position: absolute;
	height: 2px;
	width: 18px;
	left: 50%;
	top: 50%;
	bottom: auto;
	right: auto;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	-webkit-transition: background-color 0.3s;
	-moz-transition: background-color 0.3s;
	transition: background-color 0.3s;
}

.close-button-wrapper .close-button span:before {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.close-button span:before {
	-webkit-transform: translateY(-6px);
	-moz-transform: translateY(-6px);
	-ms-transform: translateY(-6px);
	-o-transform: translateY(-6px);
	transform: translateY(-6px);
	content: '';
	left: 0;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
	position: absolute;
	height: 2px;
	width: 18px;
	background-color: #ffffff;
}

.close-button-wrapper .close-button span:after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.close-button span:after {
	-webkit-transform: translateY(6px);
	-moz-transform: translateY(6px);
	-ms-transform: translateY(6px);
	-o-transform: translateY(6px);
	transform: translateY(6px);
	content: '';
	left: 0;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
	position: absolute;
	height: 2px;
	width: 18px;
	background-color: #ffffff;
}

.ace-tomorrow-night .ace_gutter {
	background: #152B39 !important;
}

.ace-tomorrow-night .ace_gutter-active-line {
	background: #1D3C50 !important;
}

.ace-gutter-layer {
	border: 0 !important;
}

.lesson-board {
	color: rgb(80, 80, 80);
	bottom: 0;
	height: 100%;
	width: 100%;
	cursor: url(../images/cursors/default-cursor.svg), default;
}

.disqus {
	background: rgba(28, 29, 31, 0.8);
	color: #fff;
	bottom: 0;
	height: 100%;
	width: 100%;
	cursor: url(../images/cursors/default-cursor.svg), default;
}

.disqus .content-overflow {
	padding: 15px;
}

.settings {
	background: rgba(28, 29, 31, 0.8);
	color: #fff;
	bottom: 0;
	height: 100%;
	width: 100%;
	cursor: url(../images/cursors/default-cursor.svg), default;
}

.styled-list-checkbox {
	float: right;
	font-size: 2em !important;
	width: 25px;
	padding-top: 13px;
}

.styled-list ul {
	font-style: italic;
	cursor: url(../images/cursors/pointer-cursor.svg), pointer;
	font-family: Georgia, Times, serif;
	font-size: 24px;
	color: #fff;
	background-color: rgba(246, 246, 246, 0);
	margin: 0;
	padding: 0;
}

.styled-list ul li {
	padding: 8px;
	margin: 0;
	font-family: Arial, serif;
	font-size: 13px;
	color: #fff;
	font-style: normal;
}

.styled-list ul li:hover {
	background-color: rgb(21, 43, 57);
}

.styled-list ul li em,
.styled-list-checkbox {
	font-size: 1.4em;
	font-style: normal;
}

.main-editor {
	width: 100%;
	height: 100%;
	border: 1px solid #152B39;
}

.logo {
	height: 25px;
	width: 110px;
	margin-left: 50px;
	display: inline-block;
	cursor: url(../images/cursors/pointer-cursor.svg), pointer;
}

.hidden {
	visibility: hidden;
}

.visible {
	visibility: visible;
}

.rotate-out-down-left {
	-webkit-animation-duration: 0.25s;
	animation-duration: 0.25s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: rotate-out-down-left;
	animation-name: rotate-out-down-left;
}

.rotate-in-down-left {
	-webkit-animation-duration: 0.25s;
	animation-duration: 0.25s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: rotate-in-down-left;
	animation-name: rotate-in-down-left;
}

@-webkit-keyframes rotate-in-down-left {
	0% {
		-webkit-transform-origin: left bottom;
		-webkit-transform: rotate(-90deg);
		opacity: 1;
	}
	100% {
		-webkit-transform-origin: left bottom;
		-webkit-transform: rotate(0deg);
		opacity: 1;
	}
}

@keyframes rotate-in-down-left {
	0% {
		transform-origin: left bottom;
		transform: rotate(-90deg);
		opacity: 1;
	}
	100% {
		transform-origin: left bottom;
		transform: rotate(0deg);
		opacity: 1;
	}
}

@-webkit-keyframes rotate-out-down-left {
	0% {
		-webkit-transform-origin: left bottom;
		-webkit-transform: rotate(0deg);
		opacity: 1;
	}
	100% {
		-webkit-transform-origin: left bottom;
		-webkit-transform: rotate(90deg);
		opacity: 1;
	}
}

@keyframes rotate-out-down-left {
	0% {
		transform-origin: left bottom;
		transform: rotate(0deg);
		opacity: 1;
	}
	100% {
		transform-origin: left bottom;
		transform: rotate(90deg);
		opacity: 1;
	}
}

.bbot-triangle {
	border-style: solid;
	float: right;
	margin-right: 72px;
	border-width: 45px 0 300px 100px;
	border-color: transparent transparent transparent rgba(15, 15, 15, 0.9);
}

.bbot-board {
	width: 100%;
	height: 100%;
	color: #C5C8C6;
	overflow: hidden;
	cursor: url(../images/cursors/default-cursor.svg), default;
	padding-left: 1px;
}

.bbot-board .next-button {
	border: 0;
	width: 100%;
	background: #152B39;
	color: #fff;
	height: 25px;
	outline: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.45) !important;
}

.bbot-board .bbot-header {
	border: 0;
	width: 100%;
	background: #152B39;
	color: #fff;
	height: 25px;
	outline: 0;
}

.bbot-header .button-gradient {
	position: absolute;
	right: 0;
	top: -5px;
	height: 35px;
	text-decoration: none;
	outline: none;
	padding-top: 3px;
	margin-right: 10px;
}

.bbot-header .quote {
	left: 60px;
	width: auto;
	overflow: hidden;
	text-overflow: ellipsis;
	background: #152B39;
	cursor: url(../images/cursors/default-cursor.svg), default;
}

.bbot-header .quote:hover {
	left: 60px;
	width: auto;
	background: #152B39;
	cursor: url(../images/cursors/default-cursor.svg), default;
}

.bbot-header .arrow {
	color: #ffffff;
	background: #152B39;
	height: 25px;
	border: 0;
	text-decoration: none;
	outline: none;
	float: right;
	padding-top: 3px;
	margin-right: 10px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.45) !important;
}

.button-gradient {
	box-shadow: inset 1px 1px rgba(255, 255, 255, 0.1), 1px 1px rgba(0, 0, 0, 0.1);
	background-color: rgba(255, 255, 255, 0.1);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255, 255, 255, 0.1)), to(transparent));
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1), transparent);
	background-image: linear-gradient(top, rgba(255, 255, 255, 0.1), transparent);
	background-repeat: repeat-x;
	background-color: #C71E14;
	color: #fff;
	border: 1px solid rgb(12, 24, 31) !important;
	padding-right: 10px;
	padding-left: 10px;
}

.button-gradient:hover {
	color: #fff;
	text-decoration: none;
	background: #CB4C4C;
}

.bbot-header .arrow:hover {
	color: #fff;
	text-decoration: none;
	background: #1D3C50;
}

.bbot-board .bbot-msg {
	padding-right: 22px;
	height: 100%;
	width: 100%;
}

.img-small-center img {
	width: 30%;
}

.img-medium-center img {
	width: 60%;
}

.img-huge-center img {
	width: 100%;
}

.img-small-center,
.img-medium-center,
.img-huge-center {
	width: 50%;
	margin: auto;
}

.text-indent {
	text-indent: 1.2em;
}

.service-news-img {
	background-image: url(../images/pages/game-news.png);
	background-blend-mode: luminosity;
}

.astrogirl-img {
	height: 400px;
	width: 140px;
	background-image: url(../images/pages/astrogirl-hologram.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	overflow: hidden;
}

.astromen-img {
	height: 400px;
	width: 140px;
	background-image: url(../images/pages/officer-hologram.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	overflow: hidden;
}

.blackout {
	position: fixed;
	background-color: rgba(0, 0, 0, 0.8);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10000;
	padding: 17%;
}

.spinner {
	width: 100px;
	height: 100px;
	margin: auto;
}

.spinner-text {
	color: white;
	text-align: center;
	font-size: 1.7em;
}

.spinner div {
	position: absolute;
	height: 100px;
	width: 100px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	overflow: hidden;

}

.spinner-earth {
	background-image: url(../images/pages/earth-white.png);
	-webkit-animation: spin 120s linear infinite;
	-moz-animation: spin 120s linear infinite;
	animation: spin 120s linear infinite;
}

.spinner-orbit-1 {
	background-image: url(../images/pages/spacecraft-white.png);
	-webkit-animation: spin 4s linear infinite;
	-moz-animation: spin 4s linear infinite;
	animation: spin 4s linear infinite;
}

.spinner-orbit-2 {
	background-image: url(../images/pages/satilite-white.png);
	-webkit-animation: spin 8s linear infinite;
	-moz-animation: spin 8s linear infinite;
	animation: spin 8s linear infinite;
}

@-moz-keyframes spin {
	100% {
		-moz-transform: rotate(-360deg);
	}
}

@-webkit-keyframes spin {
	100% {
		-webkit-transform: rotate(-360deg);
	}
}

@keyframes spin {
	100% {
		-webkit-transform: rotate(-360deg);
		transform: rotate(-360deg);
	}
}

.bbot-img {
	height: 125px;
	width: 80px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	overflow: hidden;
	position: absolute;
	bottom: 0;
	right: 10px;
}

.bbot-happy {
	background-image: url(../images/pages/bbot-happy.png);
}

.bbot-wow {
	background-image: url(../images/pages/bbot-wow.png);
}

.bbot-angry {
	background-image: url(../images/pages/bbot-angry.png);
}

.bbot-border {
	position: absolute;
	height: 175px;
	bottom: 0;
	width: 100%;
}

.bbot-hologram {
	height: 100%;
	margin-right: 170px;
	padding: 20px 20px 20px 70px;
	background: rgba(15, 15, 15, 0.9);
	overflow-y: auto;
}

.bbot-hologram p {
	color: #C0C3C1;
	margin: 0;
}

.quick-img {
	background-image: url(../images/pages/galaxy.png);
}

.email-text {
	color: #5b5b5b;
}

.email-img .fa {
	font-size: 230px;
	color: #fff;
	cursor: url(../images/cursors/pointer-cursor.svg), pointer;
}

.email-img {
	text-align: center;
}

.rocket-white-img {
	background-image: url(../images/pages/rocket-white-shadow.png);
}

.js-img {
	background-image: url(../images/pages/javascriptsc.png);
}

.js-quiz-img {
	background-image: url(../images/pages/javascriptsc-quiz.png);
	background-color: #501e28 !important;
}

.learn-img {
	background-image: url(../images/pages/stars.png);
}

.send-img {
	background-image: url(../images/pages/astrnaut.png);
}

.game-img {
	background-image: url(../images/pages/rocket-white.png);
}

.vk-img {
	background-image: url(../images/pages/vk-white.png);
}

.pages-footer-img {
	position: fixed;
	bottom: 0;
	top: auto;
	left: 150px;
	height: 70px;
	z-index: 2000;
	width: 70px;
	background-position: 50% 50%;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
}

.pages-img {
	height: 250px;
	background-position: 50% 50%;
	width: 100%;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	overflow: hidden;
	background-color: #152B39;
}

.pages-chart-title {
	padding: 18px;
	color: white;
	font-weight: bold;
	font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
	text-align: center;
	font-size: 11px;
	height: 15%;
	width: 100%;
	background-color: #152B39;
	position: relative;
}

.pages-leadboard-title {
	padding: 9px;
	background-color: #152B39;
	color: white;
	font-weight: bold;
	font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
	text-align: center;
	font-size: 11px;
	height: 34px;
	width: 100%;
	margin-bottom: 8px;
}

.leadboard-mark {
	background-color: rgba(21, 43, 57, 0.05);
}

.table-titles {
	font-weight: bold;
}

.table-number {
	width: 15px;
	padding: 2px 2px 2px 10px;
}

.table-content-name {
	width: 80%;
	text-align: center;
}

.table-content-score {
	width: 20%;
	text-align: center;
}

.pages-label {
	margin: 17px 25px 12px;
	font-size: 12px;
	font-weight: 300;
	color: #999999;
	text-align: left;
}

.pages-text {
	margin: 17px 25px 20px;
	max-height: 42px;
	overflow: hidden;
	font-size: 14px;
	line-height: 20px;
	text-align: left;
}

.pages-title {
	margin: 50px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	z-index: 3000;
	position: fixed;
	top: 0;
	left: 0;
	height: 27px;
	right: 0;
	background-color: transparent;
}

.pages-title .logo {
	width: 300px;
	height: 67px;
}

.bar {
	position: absolute;
	background: rgba(100, 100, 200, 0.5);
	z-index: 40
}

.lesson-left-pane {
	width: 50%;
	float: left;
	padding: 10px;
	text-align: center;
}

.lesson-pane-title {
	color: white;
	font-weight: bold;
}

.content-description {
	height: 100%;
}

.content-center {
	max-width: none;
	width: 85%;
	margin: 30px auto 20px;
}

.lesson-title {
	font-size: 30px;
	font-weight: 500;
}

.lesson-content {
	margin-top: 15px;
	font-size: 15px;
	line-height: 20px;
}

.quiz {
	color: rgb(80, 80, 80);
	cursor: url(../images/cursors/default-cursor.svg), default;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.quiz .content-overflow {
	right: 0;
}

.quiz .styled-list {
	margin-bottom: 170px;
}

.quiz .styled-list ul li {
	margin-top: 2px;
	border-left: 2px solid #C71E14;
	background: #152b39;
	list-style-type: none;
}

.quiz .styled-list ul li:hover {
	background-color: rgba(26, 48, 62, 1.0) !important;
}

.quiz .styled-list-checkbox {
	padding: 0;
}

.quiz .styled-list .answer {
	text-align: center;
	margin-top: 5px;
	border-left: 0;
}

.lesson-hint {
	font-family: "Courier New", serif;
	color: #C0C3C1;
	background-color: rgba(198, 31, 14, 0.54);
	border-bottom: 1px solid rgba(29, 31, 33, 0.54);
	border-top: 1px solid rgba(29, 31, 33, 0.54);
	padding-bottom: 20px;
}

.lesson-hint-button {
	font-family: "Courier New", serif;
	color: #CBCECB;
	text-align: center;
	background-color: rgba(198, 31, 14, 0.54);
	border-bottom: 1px solid rgba(29, 31, 33, 0.54);
	padding: 10px;
	cursor: url(../images/cursors/pointer-cursor.svg), pointer;
}

.lesson-instructions {
	font-family: "Courier New", serif;
	color: #FFFFFF;
	background-color: rgb(21, 43, 57);
	border-bottom: 1px solid rgb(21, 43, 57);
	border-top: 1px solid rgb(21, 43, 57);
	margin-top: 35px;
	padding-bottom: 20px;
}

.lesson-instructions ul li {
	cursor: url(../images/cursors/default-cursor.svg), default !important;
}

.lesson-instructions .lesson-content {
	color: #FFFFFF;
}

.content-overflow {
	overflow-y: auto;
	height: 100%;
	border: 1px solid #152B39;
	width: 100%;
	position: absolute;
	color: #C0C3C1;
	background: rgba(29, 31, 33, 0.8);
	cursor: url(../images/cursors/default-cursor.svg), default;
}

div.thought {
	position: relative;
	width: 130px;
	height: 100px;
	text-align: center;
	line-height: 100px;
	background-color: #fff;
	border: 8px solid #666;
	-webkit-border-radius: 58px;
	-moz-border-radius: 58px;
	border-radius: 58px;
	-webkit-box-shadow: 2px 2px 4px #888;
	-moz-box-shadow: 2px 2px 4px #888;
	box-shadow: 2px 2px 4px #888;
}

div.thought:before, p.thought:after {
	left: 10px;
	top: 70px;
	width: 40px;
	height: 40px;
	background-color: #fff;
	border: 8px solid #666;
	-webkit-border-radius: 28px;
	-moz-border-radius: 28px;
	border-radius: 28px;
}

div.thought:after {
	width: 20px;
	height: 20px;
	left: 5px;
	top: 100px;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
}

div.lesson-img-wrapper {
	position: absolute;
	bottom: 0;
	z-index: 1000;
}

div.lesson-border-wrapper {
	width: 100%;
	height: 100%;
	border-top: 1px solid #070D11;
	border-left: 1px solid #070D11;
	border-right: 1px solid #070D11;
}

div.lesson-toolbar {
	border-top: 5px solid #1D1F21;
	position: absolute;
	bottom: 0;
	height: 40px;
	background-color: #152B39;
	width: 100%;
}

.lesson-toolbar .lesson-player-container {
	height: 100%;
	margin-left: 170px;
}

.lesson-player-container button {
	color: #ffffff;
	float: right;
	background: #152B39;
	height: 40px;
	width: 40px;
	text-decoration: none;
	border: 0;
	outline: none;
	text-align: center;
}

.lesson-player-container button:hover {
	color: #fff;
	text-decoration: none;
	background: #1D3C50;
}

div.helper {
	border-top: 5px solid #1D1F21;
	position: absolute;
	bottom: 0;
	background-color: #152B39;
	width: 100%;
}

.button-block > div {
	height: 50px;
	max-width: none;
	width: 85%;
	margin: 30px auto 0;
}

.button-block > div > div {
	text-align: center;
	border: 5px solid rgb(11, 10, 12);
	background-color: #FFFFFF;
	color: #1D1F21;
	padding: 10px;
	text-decoration: none;
}

.underline {
	text-decoration: underline;
}

.carousel {
	height: inherit;
}

.carousel-indicators {
	visibility: hidden;
}

.carousel-control
.glyphicon-chevron-right,
.glyphicon-chevron-left{
	visibility: hidden;
}

.carousel-inner {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.carousel-control.left,
.carousel-control.right {
	background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.0) 0, rgba(0, 0, 0, 0.0) 100%);
	background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.0) 0, rgba(0, 0, 0, 0.0) 100%);
	background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.0)), to(rgba(0, 0, 0, 0.0)));
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0) 0, rgba(0, 0, 0, 0.0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
	background-repeat: repeat-x;
}

.chart-legend li,
.bar-legend li,
.line-legend li,
.pie-legend li,
.radar-legend li,
.polararea-legend li,
.doughnut-legend li {
	display: inline-block;
	white-space: nowrap;
	position: relative;
	margin-bottom: 4px;
	border-radius: 5px;
	padding: 2px 8px 2px 28px;
	cursor: url(../images/cursors/default-cursor.svg), default;
	max-height: 42px;
	font-size: 14px;
	line-height: 20px;
}

.lesson-content a {
	font-weight: 600;
	text-decoration: underline;
	color: #337ab7;
}

.lesson-content a:hover {
	color: #42b1fd;
}

.black-back {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	background: rgba(0, 0, 0, 0.50);
}

.diagram {
	bottom: 0;
	overflow-y: hidden;
	height: 100%;
	width: 100%;
	position: absolute;
}

.diagram > svg {
	padding-left: 50%;
}

.login-vertical-center {
	width: 80%;
	margin: auto;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
}

.login-left-container {
	width: 60%;
	float: left;
	margin-left: auto;
	margin-right: auto;
}

.login-right-container {
	width: 40%;
	float: right;
	margin-left: auto;
	margin-right: auto;
}

.login-title {
	color: white;
	font-size: 1.7em;
	font-weight: bold;
	text-align: center;
}

.login-input-title {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	color: white;
	font-size: 1.3em;
}

.login-error {
	color: #C61F0E;
	height: 35px;
	width: 100%;
}

.login-sub-title {
	font-size: 1.0em;
	color: white;
	text-align: center;
}

.login-checkbox-title {
	font-family: "Courier New", serif;
	font-size: 1.0em;
	color: white;
	text-align: center;
	cursor: url(../images/cursors/pointer-cursor.svg), pointer;
}

.login-input {
	width: 60%;
	margin: auto;
}

.login-input input,
.login-input label {
	width: 100%;
}

.login-input input {
	outline: 0;
	border: 0;
	color: #152B39;
	height: 35px;
	padding: 10px;
	font-weight: 300;
	font-family: "Courier New", serif;
}

.login-checkbox {
	height: 35px;
	width: 100%;
	margin-top: 10px;
}

.login-logo {
	width: 100%;
	display: inline-block;
}

.login-img {
	width: 60%;
	margin: auto;
}

.login-button-group a,
.login-button-group a:hover {
	color: white;
	text-decoration: none;
}

.login-button-group button,
.login-button-group input,
.login-button-group .vk-button {
	width: 49%;
	height: 35px;
	border: 0;
	float: left;
	background: rgba(21, 43, 57, 0.97);
	color: white;
	outline: 0;
}

.login-button-group button:hover,
.login-button-group input:hover,
.login-button-group .vk-button:hover {
	background: rgba(38, 77, 102, 0.98);
}

.login-button-group span {
	overflow: hidden;
	white-space: nowrap;
	display: block;
	text-overflow: ellipsis;
}

.login-button-group .float-right {
	float: right;
}

.login-button-group {
	width: 60%;
	height: 35px;
	margin: auto;
}

.login-container {
	display: table;
	position: relative;
	width: 100%;
}

.login-about {
	background: rgba(255, 255, 255, 0.97);
}

.login-landing .login-main {
	height: 100%;
}

.login-landing {
	top: 0;
	position: fixed;
	overflow-y: auto;
	bottom: 0;
	right: 0;
	left: 0;
}

.login-about-block {
	width: 25%;
	float: left;
	height: 100%;
	padding: 20px;
}

.login-about-title {
	text-align: center;
	font-weight: bold;
	font-size: 1.4em;
	margin: 0 10px 10px;
}

.login-about-description {
	text-align: center;
	font-size: 1.0em;
	margin: 0 10px 10px;
}

.login-about-img {
	width: 30%;
	margin: auto;
}

.login-about-img img {
	width: 100%;
}

.login-question {
	height: 60%;
	width: 100%;
}

.login-footer {
	width: 100%;
}

.login-copyright {
	font-size: 0.8em;
	padding: 5px;
	float: left;
	width: 50%;
	color: white;
}

.login-vk a {
	color: white;
	text-decoration: underline;
}

.login-vk {
	color: white;
	font-size: 0.8em;
	padding: 5px;
	text-align: right;
	float: right;
	width: 50%;
}

.welcome-logout {
	color: white;
	padding-top: 3px;
	cursor: url(../images/cursors/pointer-cursor.svg), pointer;
	text-align: center;
	position: absolute;
	right: 50px;
	width: 25px;
	height: 25px;
}

.welcome-email {
	position: absolute;
	right: 80px;
	color: white;
	padding-top: 2px;
	font-weight: bold;
	cursor: url(../images/cursors/default-cursor.svg), default;
}

.welcome-logout:hover {
	color: #fff;
	text-decoration: none;
	background: #1D3C50;
}

@media (max-width: 968px) {
	.container-25,
	.container-50,
	.container-75 {
		width: 100%;
	}
}

@media (max-width: 800px) {
	.login-about,
	.login-question,
	.login-copyright,
	.bbot-img,
	.bbot-triangle,
	.quote,
	.login-footer,
	.welcome-email,
	.welcome-logout,
	.lesson-left-pane {
		display: none;
	}

	.lesson-player-container {
		margin-left: 0;
	}

	.bbot-hologram {
		margin-right: 0;
		background: transparent;
	}

	.bbot-hologram p {
		position: inherit;
	}

	.content-overflow {
		top: 0;
	}

	.login-left-container {
		width: 100%;
	}

	.login-right-container {
		margin-top: 20px;
		width: 100%;
	}

	.login-main {
		display: block;
	}
}

@media (max-height: 400px) {

	.content-overflow {
		bottom: 0;
	}

	div.helper,
	div.lesson-img-wrapper {
		display: none;
	}
}

.bbot-output {
	padding-left: 10px;
	border-left: 2px solid #CB2E25;
}

/*************************
********Stars rating******
**************************/

fieldset, label {
	padding: 0;
}

/****** Style Star Rating Widget *****/

.rating {
	border: none;
	display: inline-block;
	margin: 0 auto;
	text-align: left;
}

.rating > input {
	display: none;
}

.rating > label:before {
	margin: 10px;
	font-size: 4.5em;
	font-family: FontAwesome, serif;
	display: inline-block;
	content: "\f005";
}

.rating > .half:before {
	content: "\f089";
	position: absolute;
}

.rating > label {
	color: #fff;
	border: black;
	float: right;
}

/*.leadboard-table tr:nth-child(1) .table-number span,*/
/*.leadboard-table tr:nth-child(2) .table-number span,*/
/*.leadboard-table tr:nth-child(3) .table-number span {*/
/*display: none;*/
/*}*/

/*.leadboard-table tr:nth-child(1) .table-number:after {*/
/*content: '●';*/
/*font-size: 18px;*/
/*color: #fdfd2f;*/
/*}*/

/*.leadboard-table tr:nth-child(2) .table-number:after {*/
/*content: '●';*/
/*font-size: 18px;*/
/*color: #cbd7cd;*/
/*}*/

/*.leadboard-table tr:nth-child(3) .table-number:after {*/
/*content: '●';*/
/*font-size: 18px;*/
/*color: #fd913f;*/
/*}*/

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label {
	color: #FFD700;
}

/* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label {
	color: #FFED85;
}

.login-button-group .vk-button {
	margin-top: 5px;
	width: 100%;
	text-align: center;
	padding: 7px;
}

.login-form input.ng-invalid.ng-dirty {
	border: 1px solid #c41f0e;
	border-bottom: 2px solid #c41f0e;
}

.login-form input.ng-valid.ng-dirty {
	border: 1px solid #39C139;
	border-bottom: 2px solid #39C139;
}

.vk-community-messages {
	padding-right: 480px;
}

.table {
	width: 90%;
	margin: 5% auto auto;
}

.table > tbody > tr > td {
	color: #fff;
	padding: 2px;
	text-overflow: ellipsis;
	overflow: hidden;
	background: rgba(12, 24, 31, 0.85);
	text-align: center;
	font-size: 14px;
	vertical-align: middle;
	height: 40px;
	border: 2px solid #152b39;
}

.table > thead > tr > th {
	text-align: center;
	vertical-align: middle;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: normal;
	word-wrap: normal;
	background-color: #152B39;
	color: #fff;
	border: 2px solid #152b39;
}

.carousel-inner > div,
.carousel-inner > div > div {
	height: 100%
}

.table-hint-cell {
	background: rgba(162, 24, 24, 0.85) !important;
	transition: 1s;
}

.video-container {
	padding-top: 20px;
	width: 100%;
	margin: 0 auto;
}

.content-center .embed-responsive {
	position: relative;
	display: block;
	height: 0;
	padding: 0;
	overflow: hidden;
}

.content-center .embed-responsive.embed-responsive-16by9 {
	padding-bottom: 56.25%;
}

.content-center .embed-responsive-item {
	top: 0;
	width: 100%;
	border: 0;
	margin-top: 15px;
}