* {
	margin:0; padding:0;
}

html {
	overflow:hidden;
}

.bbot-container {
	position: fixed;
	right: 0;
	bottom: 0;
	margin-right: 60px;
	width: 20%;
	height: 30%;
}

.status-href {
	font-size: 15px;
	color: #fff;
	cursor: pointer;
}

.speech-bubble {
	position: absolute;
	color: #000;
	background: #d6dadb;
	border-radius: .4em;
	left: 0;
	top: 0;
	height: auto;
	width: 100%;
	word-wrap: break-word;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 80%;
	width: 0;
	height: 0;
	border: 28px solid transparent;
	border-top-color: #d6dadb;
	border-bottom: 0;
	border-right: 0;
	margin-left: -14px;
	margin-bottom: -28px;
}

.bubble-text {
	padding: 10px;
}

.bbot-sprite {
	height: 70%;
	width: 20%;
	position: absolute;
	bottom: 0;
	right: 0;
}

.bbot-sprite img {
	height: 100%;
}

.error-code-container {
	text-align: center;
	color: #fff;
	position: fixed;
	left: 0;
	top: 0;
}

.error-code-size {
	font-size: 200px;
}

@media (max-width: 1800px) {

	.speech-bubble {
		font-size: 14px;
		padding: 8px;
	}

	.bbot-container {
		height: 40%;
	}
}

@media (max-width: 1700px) {

	.bbot-container {
		height: 40%;
	}
}

@media (max-width: 1680px) {

	.speech-bubble {
		font-size: 14px;
		padding: 8px;
	}

	.error-code-size {
		font-size: 180px;
	}
}

@media (max-width: 1600px) {

	.speech-bubble {
		font-size: 13px;
		padding: 7px;
	}

	.bbot-container {
		height: 40%;
	}

	.error-code-size {
		font-size: 170px;
	}
}

@media (max-width: 1500px) {

	.speech-bubble {
		font-size: 11px;
		padding: 5px;
	}

	.bbot-container {
		height: 40%;
	}

	.error-code-size {
		font-size: 160px;
	}
}

@media (max-width: 1440px) {

	.speech-bubble {
		font-size: 11px;
		padding: 4px;
	}

	.bbot-container {
		height: 40%;
	}

	.error-code-size {
		font-size: 150px;
	}
}

@media (max-width: 1268px) {

	.speech-bubble {
		font-size: 10px;
		padding: 3px;
	}

	.bbot-container {
		height: 45%;
	}

	.error-code-size {
		font-size: 120px;
	}
}

@media (max-width: 1124px) {

	.speech-bubble {
		display: none;
	}

	.error-code-size {
		font-size: 110px;
	}
}

@media (max-width: 1024px) {

	.speech-bubble {
		display: none;
	}

	.error-code-size {
		font-size: 100px;
	}
}

@media (max-width: 800px) {

	.speech-bubble {
		display: none;
	}

	.error-code-size {
		font-size: 100px;
	}
}

@media (max-width: 768px) {

	.speech-bubble {
		display: none;
	}

	.status-href {
		font-size: 10px;
	}

	.error-code-size {
		font-size: 80px;
	}
}

@media (max-width: 480px) {

	.speech-bubble {
		display: none;
	}

	.error-code-size {
		font-size: 60px;
	}
}

@media (max-width: 320px) {

	.speech-bubble {
		display: none;
	}

	.error-code-size {
		font-size: 60px;
	}
}
