<div>
	<div ui-layout="{ flow : 'column',  dividerSize: 4, disableToggle: true}"
		 class="ui-layout-custom">

		<!-- Директива урока -->
		<div ui-layout-container
			 min-size="30%"
			 max-size="70%"
			 size="50%">
			<div lesson-board
				 ng-if="lesson.sub[subIndex]"
				 lesson="lesson.sub[subIndex]"
				 ng-show="showTextContent">
			</div>
			<div settings
				 ng-show="showSettings"></div>
		</div>

		<div ui-layout-container
			 min-size="30%"
			 max-size="70%"
			 ng-hide="hideEditor">

			<div class="main-editor"
				 ui-ace="{
			 	useWrapMode : true,
				showGutter: true,
				theme:'tomorrow_night',
				mode: 'javascript',
				firstLineNumber: 1,
				onLoad: aceLoaded,
				onChange: aceChanged
				}">
			</div>

			<!-- Директива ошибки -->
			<div bbot-board
				 ng-if="lesson.sub[subIndex]"
				 text-bot="textBot"
				 quote="lesson.quote"
				 lesson="true"
				 css="botCss"
				 next="nextSubLesson">
			</div>

		</div>
	</div>
</div>

<!-- Директива звезд рейтинга урока-->
<div stars id-lesson="idLesson" ng-if="starsHide"></div>

<!-- Директива игры -->
<div game-canvas
	 class="lesson-canvas"
	 hide-dhs="char.css"></div>

<div class="right-toolbar">

	<div class="right-toolbar-button right-toolbar-icon" ui-sref="welcome"></div>

	<div class="right-toolbar-button glyphicon enhoyhint-play"
		 ng-show="curretSubLesson.interpreterHandler || curretSubLesson.gamePostUpdate"
		 ng-click="toggleCodeRun()"
		 ng-class="{'glyphicon-stop right-toolbar-red' : CodeLauncher.isCodeRunning, 'glyphicon-play right-toolbar-green' : !CodeLauncher.isCodeRunning}" >
	</div>

	<div class="right-toolbar-button glyphicon"
		 ng-click="toggleEditorOpen()"
		 ng-class="{'glyphicon-chevron-right': !hideEditor, 'glyphicon-chevron-left' : hideEditor}"></div>

	<div class="right-toolbar-new-group right-toolbar-button glyphicon glyphicon-fast-backward"
		 ng-click="previousAudio()"></div>

	<div class="right-toolbar-button glyphicon"
		 ng-click="toggleAudioPause()"
		 ng-class="{'glyphicon-play' : audioPause, 'glyphicon-pause' : !audioPause}"></div>

	<div class="right-toolbar-button glyphicon glyphicon-list-alt lesson-alt-hint"
		 ng-click="toggleTextContent()"
		 ng-class="{'glyphicon-chevron-right' : showTextContent}"></div>

	<div class="right-toolbar-new-group right-toolbar-button glyphicon glyphicon-wrench"
		 ng-click="toggleSettings()"
		 ng-class="{'glyphicon-chevron-right' : showSettings}"></div>

</div>

<div class="lesson-img-wrapper">
	<div ng-class="char.css"></div>
</div>

