<div ng-show="lesson">
	<div ui-layout="{ flow : 'column',  dividerSize: 4, disableToggle: true}"
		 class="ui-layout-custom">

		<!-- Директива урока -->
		<div ui-layout-container
			 min-size="30%"
			 max-size="70%"
			 size="50%">
			<div class="diagram-board" diagram-board ng-if="diagramEnable"></div>
			<div class="table-board"
				 lesson-table
				 lesson-table-data="lessonTable"
				 ng-show="tableEnable"></div>
			<div lesson-board
				 lesson="lesson.sub[subIndex]"
				 ng-show="textContentEnable &&
						  lesson.sub[subIndex] &&
						 !lesson.sub[subIndex].question">
			</div>
			<div video-board
				 ng-show="videoEnable"
				 board-title="lesson.sub[subIndex].title"
				 content="lessonVideo.content"
				 url="lessonVideo.url">
			</div>
			<div settings
				 ng-show="settingsEnable">
			</div>
			<div disqus
				 ng-show="disqusEnable">
			</div>
		</div>

		<div ui-layout-container
			 min-size="30%"
			 max-size="70%"
			 ng-hide="hideEditor">

			<div class="main-editor"
				 ng-if="!lesson.sub[subIndex].question"
				 ui-ace="{
					useWrapMode : true,
					showGutter: true,
					theme:'tomorrow_night',
					mode: 'javascript',
					firstLineNumber: 1,
					onLoad: aceLoaded,
					onChange: aceChanged
					}">
			</div>

			<div quiz
				 ng-if="lesson.sub[subIndex].question"
				 answer="quizAnswer"
				 lesson="lesson.sub[subIndex]"></div>

			<!-- Директива ошибки -->
			<div bbot-board
				 ng-if="lesson.sub[subIndex]"
				 text-bot="textBot"
				 quote="lesson.quote"
				 lesson="true"
				 css="botCss"
				 next="nextSubLesson">
			</div>

		</div>
	</div>
</div>

<!-- Вывод статистики по окончанию урока -->
<div end-statistics
	 lesson="getCurrentLesson()"
	 ng-if="isStarsVisible"></div>

<!-- Директива игры -->
<div game-canvas
	 class="lesson-canvas"
	 hide-dhs="char.css"></div>

<div class="right-toolbar">

	<div class="right-toolbar-button right-toolbar-icon" ui-sref="welcome"></div>

	<div class="right-toolbar-button enhoyhint-play fa"
		 tooltip-placement="left"
		 tooltip-append-to-body="true"
		 uib-tooltip="{{CodeLauncher.isCodeRunning ? 'Остановить скрипт' : 'Запустить скрипт'}}"
		 ng-show="curretSubLesson.interpreterHandler || curretSubLesson.gamePostUpdate"
		 ng-click="toggleCodeRun()"
		 ng-class="{'fa-stop right-toolbar-red': CodeLauncher.isCodeRunning, 'fa-play right-toolbar-green' : !CodeLauncher.isCodeRunning}">
	</div>

	<div class="right-toolbar-new-group right-toolbar-button fa"
		 tooltip-placement="left"
		 tooltip-append-to-body="true"
		 ng-if="!lesson.sub[subIndex].question"
		 uib-tooltip="{{hideEditor ? 'Показать редактор кода' : 'Убрать редактор кода'}}"
		 ng-click="toggleEditorOpen()"
		 ng-class="{'fa-chevron-right': !hideEditor, 'fa-chevron-left' : hideEditor}"></div>

	<div class="right-toolbar-button fa fa-list lesson-alt-hint"
		 tooltip-placement="left"
		 tooltip-append-to-body="true"
		 ng-if="!lesson.sub[subIndex].question"
		 uib-tooltip="{{textContentEnable ? 'Скрыть текстовые инструкции' : 'Показать текстовые инструкции'}}"
		 ng-click="toggleContentEnable('textContentEnable')"
		 ng-class="{'fa-chevron-right' : textContentEnable}"></div>

	<div class="right-toolbar-new-group right-toolbar-button fa"
		 tooltip-placement="left"
		 tooltip-append-to-body="true"
		 ng-if="lesson.sub[subIndex].question"
		 uib-tooltip="{{hideEditor ? 'Показать вопрос' : 'Убрать вопрос'}}"
		 ng-click="toggleEditorOpen()"
		 ng-class="{'fa-chevron-right': !hideEditor, 'fa-chevron-left' : hideEditor}"></div>

	<div class="right-toolbar-button fa diagram-hint"
		 tooltip-placement="left"
		 tooltip-append-to-body="true"
		 uib-tooltip="{{diagramEnable ? 'Скрыть диаграмму' : 'Показать диаграмму'}}"
		 ng-click="toggleContentEnable('diagramEnable')"
		 ng-show="isLessonWithDiagram()"
		 ng-class="{'fa-chevron-right' : diagramEnable, 'fa-sitemap' : !diagramEnable}"></div>

	<div class="right-toolbar-button fa table-hint"
		 tooltip-placement="left"
		 tooltip-append-to-body="true"
		 uib-tooltip="{{tableEnable ? 'Скрыть таблицу' : 'Таблица'}}"
		 ng-class="{'fa-chevron-right' : tableEnable, 'fa-table' : !tableEnable}"
		 ng-click="toggleContentEnable('tableEnable')"
		 ng-show="lessonTable"></div>

	<div class="right-toolbar-button fa video-hint"
		 tooltip-placement="left"
		 tooltip-append-to-body="true"
		 uib-tooltip="{{videoEnable ? 'Скрыть видео' : 'Видео'}}"
		 ng-class="{'fa-chevron-right' : videoEnable, 'fa-video-camera' : !videoEnable}"
		 ng-click="toggleContentEnable('videoEnable')"
		 ng-show="lessonVideo"></div>

	<div class="right-toolbar-new-group right-toolbar-button fa"
		 tooltip-placement="left"
		 tooltip-append-to-body="true"
		 uib-tooltip="{{settingsEnable ? 'Скрыть настройки' : 'Показать настройки'}}"
		 ng-click="toggleContentEnable('settingsEnable')"
		 ng-class="{'fa-chevron-right' : settingsEnable, 'fa-wrench' : !settingsEnable}"></div>

	<div class="right-toolbar-button fa"
		 tooltip-placement="left"
		 tooltip-append-to-body="true"
		 uib-tooltip="{{audioPause ? 'Запустить инструкции' : 'Остановить инструкции'}}"
		 ng-click="toggleAudioPause()"
		 ng-class="{'fa-play' : audioPause && char,
		 			'fa-pause' : !audioPause && char,
					'fa-refresh': !char}">
	</div>

	<div class="right-toolbar-new-group right-toolbar-button fa fa-vk vk-hint"
		 tooltip-placement="left"
		 tooltip-append-to-body="true"
		 uib-tooltip="{{vkWidgetEnable ? 'Скрыть vk сообщения' : 'Есть вопросы?'}}"
		 ng-if="vkWidget"
		 ng-class="{'fa-chevron-right' : vkWidgetEnable, 'fa-vk' : !vkWidgetEnable}"
		 ng-click="toggleVkWidgetVisible()"></div>

	<div class="right-toolbar-button fa disqus-hint"
		 tooltip-placement="left"
		 tooltip-append-to-body="true"
		 uib-tooltip="{{disqusEnable ? 'Скрыть обсуждение' : 'Обсуждение'}}"
		 ng-class="{'fa-chevron-right' : disqusEnable, 'fa-comments' : !disqusEnable}"
		 ng-click="toggleContentEnable('disqusEnable')"></div>

</div>

<div id="vkCommunityMessages" class="vk-community-messages"></div>

<div class="lesson-img-wrapper">
	<div ng-class="char.css"></div>
</div>
