<div ng-show="lesson">
	<div ui-layout="{ flow : 'column',  dividerSize: 4, disableToggle: true}"
		 class="ui-layout-custom">

		<!-- Директива урока -->
		<div ui-layout-container
			 min-size="30%"
			 max-size="70%"
			 size="50%">
			<div class="diagram-board" diagram-board ng-if="showDiagram">
			</div>
			<div lesson-board
				 ng-if="lesson.sub[subIndex]"
				 lesson="lesson.sub[subIndex]"
				 ng-show="showTextContent">
			</div>
			<div settings
				 ng-show="showSettings"></div>
		</div>

		<div ui-layout-container
			 min-size="30%"
			 max-size="70%"
			 ng-hide="hideEditor">

			<div class="main-editor"
				 ui-ace="{
			 	useWrapMode : true,
				showGutter: true,
				theme:'tomorrow_night',
				mode: 'javascript',
				firstLineNumber: 1,
				onLoad: aceLoaded,
				onChange: aceChanged
				}">
			</div>

			<!-- Директива ошибки -->
			<div bbot-board
				 ng-if="lesson.sub[subIndex]"
				 text-bot="textBot"
				 quote="lesson.quote"
				 lesson="true"
				 css="botCss"
				 next="nextSubLesson">
			</div>

		</div>
	</div>
</div>

<div class="quiz" ng-if="questions" ng-init="quiz.initialize(questions, isStarsVisiable)">
	<div class="content-description">
		<div class="content-overflow">

			<div ng-if="!quiz.isQuestionsEnd">
				<div class="content-center">
					<!--блок опросника-->
					<div class="lesson-title ng-binding">Вопрос номер {{quiz.getCurrentQuestionNumber()}}/{{quiz.getQuestionsCount() }}</div>
					<div class="lesson-content"
						 ng-bind-html="sce(quiz.getCurrentQuestion().question)">
					</div>
				</div>

				<div class="lesson-instructions">
					<div class="content-center">
						<div class="lesson-instructions-title">Варианты ответов:</div>
						<div ng-class="{'answers': !answerOption.isSelect, 'answersSelect' : answerOption.isSelect}"
							 ng-repeat="(i, answerOption) in quiz.getCurrentQuestion().answerOptions">
							<div ng-bind-html="sce(answerOption.text)"
								 ng-click="quiz.setAnswerOnCurrentQuestion(i)"></div>
						</div>
					</div>
				</div>
			</div>

			<div ng-if="quiz.isQuestionsEnd">
				<div class="content-center">
					<div class="lesson-title ng-binding">Ваш результат</div>
				</div>

				<div class="lesson-instructions" >
					<div class="content-center">
						<div class="lesson-instructions-title">
							Верных ответов: {{quiz.getCorrectAnswerCount()}} из {{quiz.getQuestionsCount()}}
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

<!-- Вывод статистики по окончанию урока -->
<div statistics-lesson-end
	 lesson="getCurrentLesson()"
	 ng-if="isStarsVisible || quiz.isQuizEnd"></div>

<!-- Директива игры -->
<div game-canvas
	 class="lesson-canvas"
	 hide-dhs="char.css"></div>

<div class="right-toolbar">

	<div class="right-toolbar-button right-toolbar-icon" ui-sref="welcome"></div>

	<div ng-if="lesson"
		 class="right-toolbar-button glyphicon enhoyhint-play"
		 tooltip-placement="left"
		 tooltip-append-to-body="true"
		 uib-tooltip="{{CodeLauncher.isCodeRunning ? 'Остановить скрипт' : 'Запустить скрипт'}}"
		 ng-show="curretSubLesson.interpreterHandler || curretSubLesson.gamePostUpdate"
		 ng-click="toggleCodeRun()"
		 ng-class="{'glyphicon-stop right-toolbar-red': CodeLauncher.isCodeRunning, 'glyphicon-play right-toolbar-green' : !CodeLauncher.isCodeRunning}" >
	</div>

	<div ng-if="quiz && quiz.isAnswerOnCurrentQuestionGet"
		 class="right-toolbar-button glyphicon enhoyhint-play"
		 tooltip-placement="left"
		 tooltip-append-to-body="true"
		 uib-tooltip="{{quiz.isQuizEnd ? 'Закончить тест' : !quiz.isLastQuestion()? 'Следующий вопрос' : 'Проверить ответы'}}"
		 ng-click="quiz.trySetNextQuestion()"
		 ng-class="{'glyphicon-chevron-right': !quiz.isLastQuestion(),
		            'glyphicon-play right-toolbar-green' : quiz.isLastQuestion()}" >
	</div>

	<div ng-if="lesson"
		 class="right-toolbar-new-group right-toolbar-button glyphicon"
		 tooltip-placement="left"
		 tooltip-append-to-body="true"
		 uib-tooltip="{{hideEditor ? 'Показать редактор кода' : 'Убрать редактор кода'}}"
		 ng-click="toggleEditorOpen()"
		 ng-class="{'glyphicon-chevron-right': !hideEditor, 'glyphicon-chevron-left' : hideEditor}">
	</div>

	<div ng-if="quiz && quiz.getCurrentQuestionNumber() > 1"
		 class="right-toolbar-button right-toolbar-button glyphicon"
		 tooltip-placement="left"
		 tooltip-append-to-body="true"
		 uib-tooltip="Предыдущий вопрос"
		 ng-click="quiz.trySetPreviousQuestion()"
		 ng-class="'glyphicon-chevron-left'">
	</div>

	<div ng-if="lesson"

		 class="right-toolbar-button glyphicon glyphicon-list-alt lesson-alt-hint"
		 tooltip-placement="left"
		 tooltip-append-to-body="true"
		 uib-tooltip="{{showTextContent ? 'Скрыть текстовые инструкции' : 'Показать текстовые инструкции'}}"
		 ng-click="toggleTextContent()"
		 ng-class="{'glyphicon-chevron-right' : showTextContent}"></div>

	<div class="right-toolbar-button glyphicon"
		 tooltip-placement="left"
		 tooltip-append-to-body="true"
		 uib-tooltip="{{showDiagram ? 'Скрыть диаграмму' : 'Показать диаграмму'}}"
		 ng-click="toggleDiagram()"
		 ng-show="isLessonWithDiagram()"
		 ng-class="{'glyphicon-chevron-right' : showDiagram, 'glyphicon-object-align-vertical' : !showDiagram}"></div>

	<div class="right-toolbar-new-group right-toolbar-button glyphicon glyphicon-wrench"
		 tooltip-placement="left"
		 tooltip-append-to-body="true"
		 uib-tooltip="{{showSettings ? 'Скрыть настройки' : 'Показать настройки'}}"
		 ng-click="toggleSettings()"
		 ng-class="{'glyphicon-chevron-right' : showSettings}"></div>

	<div ng-if="lesson"
		 class="right-toolbar-button glyphicon glyphicon-fast-backward"
		 tooltip-placement="left"
		 tooltip-append-to-body="true"
		 uib-tooltip="Повторить инструкции"
		 ng-click="previousAudio()"></div>

	<div ng-if="lesson"
		 class="right-toolbar-button glyphicon"
		 tooltip-placement="left"
		 tooltip-append-to-body="true"
		 uib-tooltip="{{audioPause ? 'Запустить инструкции' : 'Остановить инструкции'}}"
		 ng-click="toggleAudioPause()"
		 ng-class="{'glyphicon-play' : audioPause, 'glyphicon-pause' : !audioPause}"></div>

</div>

<div class="lesson-img-wrapper">
	<div ng-class="char.css"></div>
</div>
