<div class="pages-background">

	<div class="pages-board">
		<div class="container-25" ui-sref="lesson({id: 0})">
			<div class="container-inside">
				<div class="pages-img pages-img-spacecraft js-img"></div>
				<div class="pages-label">Поступление</div>
				<div class="pages-text">Урок 1</div>
			</div>
		</div>
		<div class="container-25" ui-sref="lesson({id: 1})">
			<div class="container-inside">
				<div class="pages-img pages-img-spacecraft js-img"></div>
				<div class="pages-label">Первое занятие</div>
				<div class="pages-text">Урок 2</div>
			</div>
		</div>
		<div class="container-25" ui-sref="lesson({id: 2})">
			<div class="container-inside">
				<div class="pages-img pages-img-spacecraft js-img"></div>
				<div class="pages-label">Расследование</div>
				<div class="pages-text">Урок 3</div>
			</div>
		</div>
	</div>

	<div class="rocket-white-img pages-footer-img"></div>

	<div class="pages-footer"></div>
	<div class="pages-footer-text">Доступны новые уроки!</div>

	<div class="toolbar-min">
		<img class="logo"
			 ui-sref="welcome"
			 src="images/logo.png"/>
	</div>

</div>
