<div class="quiz">

	<!--блок опросника-->
	<div ng-if="!showResult">
		<!--заголовок вопроса-->
		<div class="question">
			{{currentQuestion.question}}
		</div>
		<!--карточки с ответом-->
		<div ng-click="trySetNextQuestion(i)"
			 class="question-card"
			 ng-repeat="(i, answerOption) in currentQuestion.answerOptions">
			<!--содержимое карточки-->
			<div class="question-card-container">
				<h4><b>{{answerOption}}</b></h4>
			</div>
		</div>
	</div>

	<!--блок результатов-->
	<div ng-if="showResult">
		<div class="question">
			Верных ответов: {{result.correctAnswer}} из {{result.questionsCount}}
		</div>
		<div ng-show="result.questionsWithError">
			<div class="question">
				{{currentQuestionWithError.question}}
			</div>
			<div class="question">
				Правильный ответ: {{currentQuestionWithError.correctAnswerDescription}}
			</div>
			<button ng-click="trySetNextQuestionWithError()" class="btn btn-default">
				<span>Понятно.</span>
			</button>
		</div>

	</div>

</div>
