<div id="game-canvas"></div>

<!-- Выделение для EnjoyHint -->
<div class="params-hint"></div>
<div class="points-hint"></div>

<!-- Points bar-->

<div class="points-bar free-points">
    <span class="glyphicon glyphicon-flash green"></span>
    <div class="points-block">
        <span ng-repeat="i in getNumber(spaceCraft.modulesManager.getMaxPoints())"
              class="point"
              ng-class="{'point-full': spaceCraft.modulesManager.getFreePoints() > i}">
        </span>
    </div>
</div>

<div class="points-bar regen-points">
    <span class="glyphicon glyphicon-wrench green"></span>
    <div class="points-block">
        <span ng-repeat="i in getNumber(spaceCraft.protection.regeneration.getMax())"
              class="point"
              ng-class="{'point-full': spaceCraft.protection.regeneration.getEnergyPoints() > i}">
        </span>
    </div>
</div>

<div class="points-bar move-speed-points">
    <span class="glyphicon glyphicon-forward green"></span>
    <div class="points-block">
        <span ng-repeat="i in getNumber(spaceCraft.engine.moveSpeed.getMax())"
              class="point"
              ng-class="{'point-full': spaceCraft.engine.moveSpeed.getEnergyPoints() > i}">
        </span>
    </div>
</div>

<div class="points-bar rate-points">
    <span class="glyphicon glyphicon-refresh green"></span>
    <div class="points-block">
        <span ng-repeat="i in getNumber(spaceCraft.weapon.rate.getMax())"
              class="point"
              ng-class="{'point-full': spaceCraft.weapon.rate.getEnergyPoints() > i}">
        </span>
    </div>
</div>

<div class="points-bar range-points">
    <span class="glyphicon glyphicon-record green"></span>
    <div class="points-block">
        <span ng-repeat="i in getNumber(spaceCraft.weapon.range.getMax())"
              class="point"
              ng-class="{'point-full': spaceCraft.weapon.range.getEnergyPoints() > i}">
        </span>
    </div>
</div>

<div class="points-bar damage-points">
    <span class="glyphicon glyphicon-screenshot green"></span>
    <div class="points-block">
        <span ng-repeat="i in getNumber(spaceCraft.weapon.damage.getMax())"
              class="point"
              ng-class="{'point-full': spaceCraft.weapon.damage.getEnergyPoints() > i}">
        </span>
    </div>
</div>

<!-- Points bar-->

<!-- DSH bar -->

<div class="damage">
    <span class="glyphicon glyphicon-screenshot green"></span>
    <span class="green">{{spaceCraft.weapon.getDamage()}}</span>
</div>

<div class="shield">
    <span class="glyphicon glyphicon-adjust blue"></span>
    <span class="blue">{{spaceCraft.protection.getShield()}} / {{spaceCraft.protection.getMaxShield()}}</span>
</div>

<div class="health">
    <span class="glyphicon glyphicon-heart red"></span>
    <span class="red">{{spaceCraft.protection.getHealth()}} / {{spaceCraft.protection.getMaxHealth()}}</span>
</div>

<!-- DSH bar -->
