<div class="lesson-board">
	<div class="content-description">
		<div class="content-overflow">
			<div class="content-center">
				<div class="lesson-title">{{lesson.title}}</div>
				<div class="lesson-content" ng-bind-html="getContent()"></div>
			</div>
			<div diagram></div>
			<div class="lesson-instructions">
				<div class="content-center">
					<div class="lesson-instructions-title">Инструкции:</div>
					<div class="lesson-content" ng-bind-html="getInstructions()"></div>
				</div>
			</div>
			<div class="lesson-hint-button"
				 ng-click="showHint()"
				 ng-hide="!getHint() || hint">
				Показать подсказку.
			</div>
			<div class="lesson-hint"
				 ng-show="hint">
				<div class="content-center">
					<div class="lesson-content" ng-bind-html="getHint()"></div>
				</div>
			</div>
		</div>
	</div>
</div>

