<div class="lesson-board">
	<div class="objects content-description">
		<div class="pane-title">
			<div class="pane-title-inner">
				{{text}}
			</div>
		</div>

		<div class="content-overflow lesson-content-overflow">
			<div class="content-center">
				<div class="lesson-title">{{lesson.title}}</div>
				<div class="lesson-content" ng-bind-html="getContent()"></div>
			</div>
			<div class="lesson-instructions">
				<div class="content-center">
					<div class="lesson-instructions-title">Инструкции:</div>
					<div class="lesson-content" ng-bind-html="getInstructions()"></div>
				</div>
			</div>
			<div class="lesson-hint-button" ng-click="showHint()">
				Показать подсказку.
			</div>
		</div>
		<div class="helper">
			<div class="astrogirl-img"></div>
		</div>
	</div>
</div>
