<div class="quiz">
	<div class="content-description">
		<div class="content-overflow">
			<div>
				<div class="content-center">
					<!--блок опросника-->
					<div class="lesson-title ng-binding">{{lesson.title}}</div>
					<div class="lesson-content"
						 ng-bind-html="getQuestions()">
					</div>
				</div>

				<div class="styled-list">
					<ul>
						<li ng-repeat="answerOption in lesson.question.answerOptions">
							<em>{{answerOption}}</em>
							<span class="styled-list-checkbox fa"
								  ng-class="{'fa-square-o' : !item.value,
								  'fa-check-square-o': item.value}"></span>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
