<div class="lesson-end-background">
	<div class ="lesson-end-content">

		<!-- Показ звездочек -->
		<div stars id-lesson="lesson.lessonId"></div>

		<!-- Если пользователь проходит урок первый раз-->
		<!-- Выводим количество набранных очков -->
		<div ng-if="statistics.isItFirstLessonAttempt()">
			<h4>Число набранных очков: {{statistics.getCurrentScore()}} из
				{{statistics.getMaxLimitScoreForLesson()}}</h4>
		</div>

		<!-- Если пользователь проходит урок не первый раз и может получить бонус-->
		<!-- Выводим количество бонусных очков -->
		<div ng-if="!statistics.isItFirstLessonAttempt() && statistics.getBonusScore()">
			<h4>Число набранных бонусных очков: {{statistics.getBonusScore()}}</h4>
		</div>

		<!-- Пользователь не набрал максимальное число очков. Сообщаем ему о возможности получить бонусы, -->
		<!--а также напоминаем о ограниченном числе попыток. -->
		<div ng-if="statistics.isUserCanGetBonusScore">
			<h4 ng-if="statistics.getAttemptCountForBonus() > 1">Количество попыток для получения бонуса: {{statistics.getAttemptCountForBonus()}}</h4>
			<h4 ng-if="statistics.getAttemptCountForBonus() === 1">У Вас последняя попытка, чтобы получить бонусные очки</h4>
		</div>

	</div>
</div>
