<div class="login-background"></div>
<div class="login-container">
	<div class="login-vertical-center">
		<div class="login-left-container">
			<div class="login-img">
				<img class="login-logo" src="images/logo3.png"/>
			</div>
			<div class="login-title">СРАЖАЙСЯ. УЧИСЬ. СОВЕРШЕНСТВУЙСЯ.</div>
			<div class="login-sub-title">Запрограммируй свой космический корабль и сражайся с другими игроками онлайн!</div>
		</div>

		<div class="login-right-container">
			<div class="login-input-title">Войдите в систему:</div>
			<div class="login-input">
				<label>
					<input type="text"
						   ng-model="email"
						   class="login-email"
						   placeholder="Email">
				</label>
			</div>

			<div class="login-input">
				<label>
					<input type="password"
						   ng-model="password"
						   placeholder="Пароль">
				</label>
			</div>

			<div class="login-button-group">
				<button class="login-button" ng-click="login()"><span>Войти</span></button>
				<button class="login-button float-right"><span>Регистрация</span></button>
			</div>

		</div>

	</div>
</div>
