<div class="login-background"></div>
<div class="login-landing" ng-keypress="loginByKey($event.keyCode)">
	<div class="login-container login-main">
		<div class="login-vertical-center">
			<div class="login-left-container">
				<div class="login-img">
					<img class="login-logo" src="images/logo.png"/>
				</div>
				<div class="login-title">СРАЖАЙСЯ. УЧИСЬ. СОВЕРШЕНСТВУЙСЯ.</div>
				<div class="login-sub-title">Запрограммируй свой космический корабль и сражайся с другими игроками
					онлайн!
				</div>
			</div>

			<div class="login-right-container">
				<div class="login-input-title">
					{{isEnterForm ? "Войдите в систему:" : "Зарегистрируйтесь в системе:"}}
				</div>

				<div class="login-input">
					<label>
						<input type="email"
							   ng-model="email"
							   class="login-email"
							   placeholder="Email">
					</label>
				</div>

				<div class="login-input">
					<label>
						<input type="password"
							   ng-model="password"
							   placeholder="Пароль">
					</label>
				</div>

				<div class="login-button-group">
					<button ng-click="isEnterForm ? login() : register()">
						<span>OK</span>
					</button>

					<button class="float-right"
							ng-click="isEnterForm = !isEnterForm">
						<span>{{!isEnterForm ? "Вход" : "Регистрация"}}</span>
					</button>

					<a href="/login/vk">
						<button ng-show="isEnterForm" class="vk-button">
							<span>Войти через ВКонтакте</span>
						</button>
					</a>

				</div>

				<div class="login-input login-checkbox">
					<div ng-show="!isEnterForm"
						 class="login-checkbox-title"
						 ng-click="isSubscribeOnEmail = !isSubscribeOnEmail">
						<span ng-class="{'glyphicon glyphicon-check' : isSubscribeOnEmail,
										 'glyphicon glyphicon-unchecked' : !isSubscribeOnEmail}">
						</span>
						получать звёздные новости на e-mail
					</div>
				</div>

				<div class="login-input-title login-error">{{error}}</div>

			</div>
		</div>
	</div>
	<div class="login-container login-about">
		<div class="login-about-block">
			<div class="login-about-img">
				<img src="images/pages/login/stars.png">
			</div>
			<div class="login-about-title">Совершенствуй навыки</div>
			<div class="login-about-description">Изучай языки программирования, сражаясь в космических баталиях</div>
		</div>
		<div class="login-about-block">
			<div class="login-about-img">
				<img src="images/pages/login/astronaut.png">
			</div>
			<div class="login-about-title">Играй в онлайне</div>
			<div class="login-about-description">Соревнуйся с другими игроками в онлайне, захватывай планеты, создавай
				альянсы
			</div>
		</div>
		<div class="login-about-block">
			<div class="login-about-img">
				<img src="images/pages/login/rocket.png">
			</div>
			<div class="login-about-title">Найди работу</div>
			<div class="login-about-description">Пройди стажировку в лучших it-компаниях</div>
		</div>
		<div class="login-about-block">
			<div class="login-about-img">
				<img src="images/pages/login/alien.png">
			</div>
			<div class="login-about-title">Создай свой корабль</div>
			<div class="login-about-description">Добавь модули к своему космическому кораблю и запрограммируй их</div>
		</div>
	</div>
	<div class="login-container login-question">
		<div class="login-vertical-center">
			<div class="login-title">Хотите научиться программировать, но это чертовски сложно?</div>
			<div class="login-sub-title">Мы превратим обучение в фантастическое приключение</div>
		</div>
	</div>
	<div class="login-container login-footer">
		<div class="login-copyright">© Copyright SpaceCraft™ 2017. All rights reserved.</div>
		<div class="login-vk"><a href="https://vk.com/spacecrafter">Мы в ВК</a></div>
	</div>
</div>
