<div class="pages-background">
	<div class="pages-board">
		<div class="container-25" ng-click="openLessons()" ui-sref="lessons">
			<div class="container-inside">
				<div class="pages-img learn-img"></div>
				<div class="pages-label">Изучите JavaScript</div>
				<div class="pages-text">Начать обучение</div>
			</div>
		</div>
		<div class="container-50">

			<div class="container-inside" ng-show="chartIndex === 1" ng-click="changeChart()">

				<div class="chart-inside">
					<canvas id="line"
							class="chart chart-line"
							chart-data="totalScore"
							chart-labels="labels"
							chart-series="seriesT">
					</canvas>
				</div>

				<div class="pages-chart-title">ГРАФИК ПОЛУЧЕННЫХ ОЧКОВ</div>

			</div>

			<div class="container-inside" ng-show="chartIndex === 0" ng-click="changeChart()">

				<div class="chart-inside">
					<canvas id="pie"
							class="chart chart-pie"
							chart-data="dataL"
							chart-labels="labelsL">
					</canvas>
				</div>

				<div class="pages-chart-title">ДИАГРАММА ИЗУЧЕННЫХ УРОКОВ</div>

			</div>
		</div>
		<div class="container-25" ng-show="vkShow">
			<div class="container-inside vk-container-inside">
				<div id="vk_groups"></div>
			</div>
		</div>
		<div class="container-25" ng-show="!vkShow">
			<div class="container-inside">
				<a href="https://vk.com/spacecrafter">
					<div class="pages-img vk-img"></div>
				</a>
				<div class="pages-label">Присоединяйтесь к нам!</div>
				<div class="pages-text">Группа ВКонтакте</div>
			</div>
		</div>
		<div class="container-25">
			<a href="https://vk.com/im?media=&sel=-105816682">
				<div class="container-inside">
					<div class="pages-img send-img"></div>
					<div class="pages-label">Есть вопросы или пожелания?</div>
					<div class="pages-text">Напишите нам</div>
				</div>
			</a>
		</div>
		<div class="container-25"
			 uib-carousel
			 active="active"
			 interval="intervalSlideChange"
			 no-wrap="noWrapSlides">
			<div class="container-inside"
				 uib-slide
				 ng-repeat="slide in slides track by slide.id"
				 index="slide.id">
				<!--<a ng-href="{{userInfo.emailProviderUrl}}">-->
					<div class="pages-img"
						 ng-class="slide.slide_img">
					</div>
					<div class="pages-label">{{slide.slide_label}}</div>
					<div class="pages-text email-text">{{slide.slide_text}}</div>
				<!--</a>-->
			</div>
		</div>
		<div class="container-25" ui-sref="quick">
			<div class="container-inside">
				<div class="pages-img quick-img"></div>
				<div class="pages-label">О нас</div>
				<div class="pages-text">Начать просмотр</div>
			</div>
		</div>
		<div class="container-25">
			<div class="container-inside">
				<div class="pages-leadboard-title">ЛУЧШИЕ ИГРОКИ</div>
				<table style="width: 100%">
					<thead>
						<tr class="table-titles">
							<td class="table-number">№</td>
							<td class="table-content-name">Пользователь</td>
							<td class="table-content-score"><span class="fa fa-flag orange"></span></td>
						</tr>
					</thead>
					<tbody class="leadboard-table">
					<tr ng-repeat="u in leaderBoard"
						ng-class="{'leadboard-mark' : u.isItMe}">
						<td class="table-number"><span>{{$index + 1}}</span></td>
						<td class="table-content-name">{{u.name}}</td>
						<td class="table-content-score">{{u.totalFinalScore || 0}}</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="rocket-white-img pages-footer-img"></div>

	<div class="pages-footer"></div>
	<div class="pages-footer-text" ui-sref="lessons">Доступны новые уроки!</div>

	<div class="toolbar-min">
		<img class="logo"
			 ui-sref="welcome"
			 ui-sref-opts="{reload: true}"
			 src="images/logo.png"/>
		<div class="welcome-email">{{userInfo.name}}</div>
		<div class="welcome-logout" ng-click="logout()">
			<span class="fa fa-sign-out"></span>
		</div>
	</div>

</div>
