<div id="gameCanvas"></div>

<div class="health">
    <span class="glyphicon glyphicon-heart red"></span>
    <span class="red">{{spaceCraft.getHealth()}}</span>
</div>

<div class="damage">
    <span class="glyphicon glyphicon-screenshot green"></span>
    <span class="green">{{spaceCraft.weapon.getDamage()}}</span>
</div>

<div class="shield">
    <span class="glyphicon glyphicon-flash blue"></span>
    <span class="blue">{{spaceCraft.getShield()}}</span>
</div>

</div>

<div lead-board
        ng-hide="!spaceCraft || spaceCraft.isAlive()"
        space-craft="spaceCraft">
</div>

