<div ng-class="{'hidden' : hideEditor && (hideTutorial || ep.isCodeRunning), 'visible' : !hideEditor && !hideTutorial}">
    <div ui-layout="{ flow : 'column',  dividerSize: 4}">

		<!-- Директива докуменации -->
		<div ui-layout-container min-size="30%" max-size="70%">
			<documentation
				ng-class="{'hidden' : hideTutorial || ep.isCodeRunning, 'visible' : !hideTutorial}">
			</documentation>
		</div>

        <div class="main-editor"
            ui-layout-container
            min-size="30%"
            max-size="70%"
            ui-ace="{
                useWrapMode : true,
                showGutter: true,
                theme:'tomorrow_night',
                mode: 'javascript',
                firstLineNumber: 1,
                onLoad: aceLoaded,
                onChange: aceChanged
            }" ng-class="{'hidden' : hideEditor, 'visible' : !hideEditor}"></div>
    </div>
</div>


<!-- Директива игры -->
<div game-canvas
     editor-params="ep"
     player="player"></div>

<!-- Директива подсказки -->
<div tips object="tipsAndTricks"></div>

<!-- Директива ошибки -->
<div error-board
     editor-params="ep">
</div>

<div class="toolbar">
    <div class="box">
        <a href="http://spacecraft.launchrock.com/">
            <img class="logo" src="resources/assets/logo3.png"/>
        </a>
    </div>
    <div class="box">
        <button type="button" ng-click="toggleEditorOpen()">
            <span class="glyphicon editor-toggle"
                  ng-class="{'glyphicon-chevron-down' : hideEditor, 'glyphicon-chevron-up' : !hideEditor}">
            </span>
        </button>
        <button type="button" ng-click="toggleCodeRun()">
            <span class="glyphicon play-toggle"
                  ng-class="{'glyphicon-stop red' : ep.isCodeRunning, 'glyphicon-play green' : !ep.isCodeRunning}">
            </span>
        </button>
    </div>
</div>

<div class="left-toolbar">
    <button type="button" ng-click="toggleTutorialOpen()" class="tutorial-button">
                <span class="glyphicon question-toggle"
                      ng-class="{'glyphicon-question-sign': hideTutorial, 'glyphicon-chevron-left': !hideTutorial}">
                </span>
    </button>
    <a href="https://vk.com/im?media=&sel=-105816682" target="_blank" class="feedback-button">
        <button type="button" class="feedback-button">
                <span class="glyphicon glyphicon-comment comment-toggle">
                </span>
        </button>
    </a>
    <button type="button" ng-click="toggleTipsAndTricks()" class="tips-button">
        <span class="glyphicon glyphicon-info-sign"></span>
    </button>
</div>
