<div class="containerLeadBoard">
</div>

<div class="leadBord">
    <div class="containerStatistic">
    <table>
        <tr>
            <td>Убитых кораблей</td>
            <td>Нанесено урона</td>
            <td>Получено урона</td>
            <td>Собранно бонусов</td>
            <td>Количество набранных очков</td>
        </tr>
        <tr>
            <td>{{spaceCraft.statistic.getKillEnemy()}}</td>
            <td>{{spaceCraft.statistic.getAcceptDamage()}}</td>
            <td>{{spaceCraft.statistic.getTakenDamage()}}</td>
            <td>{{spaceCraft.statistic.getTakenBonus()}}</td>
            <td>{{spaceCraft.statistic.getTotalScore()}}</td>
        </tr>
    </table>
    </div>
    <div class="containerButtons">
        <a class="glyphicon glyphicon-repeat"></a>
        <a  class="glyphicon glyphicon-remove"></a>
    </div>
</div>

