<div class="container-white-board">
    <ul class="white-board">
        <li class="white-board-title">

            <span ng-bind-html="getContentTitle()"></span>

            <i class="glyphicon glyphicon glyphicon-remove first-icon" ng-click=""></i>
            <i class="glyphicon glyphicon-chevron-right second-icon" ng-click="next()"></i>
            <i class="glyphicon glyphicon-chevron-left third-icon" ng-click="previous()"></i>
        </li>

        <li class="white-board-description" ng-bind-html="getContentDescription()"></li>

        <!--<li class="white-board-title">-->

        <!--<span>Предесловие от авторов</span>-->

        <!--<i class="glyphicon glyphicon glyphicon-remove first-icon" ng-click=""></i>-->
        <!--<i class="glyphicon glyphicon-chevron-right second-icon" ng-click="next()"></i>-->
        <!--<i class="glyphicon glyphicon-chevron-left third-icon" ng-click="previous()"></i>-->
        <!--</li>-->

        <!--<li class='white-board-description'>-->
            <!--<p class='text-indent'>Цели, которые мы преследуем, создавая этот проект, интерактивное обучение людей, которым интересно программирование, и создание игровой площадки для более опытных it-специалистов.</p>-->
            <!--<p>Текущий функционал далек от совершенства (сейчас перед вами первый прототип), но мы упорно рабоаем над проектом и надеемся реализовать все наши идеи и задумки.</p>-->
            <!--<div class='img-center'>-->
                <!--<a href='https://vk.com/spacecrafter' target='_blank'>-->
                    <!--<img src='resources/assets/images/astronaut6.png'>-->
                <!--</a>-->
            <!--</div>-->
            <!--<p class='text-center'>Будем очень рады вашим отзывам и предложениям :)</p>-->
        <!--</li>-->
    </ul>
</div>

