<div class="containerWhiteBoard">
    <ul class="whiteBoard">
        <li class="whiteBoardTitle">

            <span>
                Здравствуй будущий капитан космического корабля!
            </span>

            <i class="glyphicon glyphicon-chevron-right firstIcon"></i>

            <i class="glyphicon glyphicon-chevron-left secondIcon"></i>

        </li>

        <li class="whiteBoardDescription">
            <p>Мы введем вас в краткий курс по вашему рабочему месту, основным функциям корабля, интерфейсу.</p>
            <p>Для продолжения нажмите <i class="glyphicon glyphicon-chevron-right" ng-click="reload()"></i>.</p>
            <p>Для возврата на предыдущий слайд нажмите <i class="glyphicon glyphicon-chevron-left" ng-click="reload()"></i>.</p>
        </li>
    </ul>
</div>

