<div class="container-white-board">
    <ul class="white-board">
        <li class="white-board-title">

            <span ng-bind-html="getContentTitle()"></span>

            <i class="glyphicon glyphicon glyphicon-remove first-icon" ng-click=""></i>
            <i class="glyphicon glyphicon-chevron-right second-icon" ng-click="next()"></i>
            <i class="glyphicon glyphicon-chevron-left third-icon" ng-click="previous()"></i>
        </li>

        <li class="white-board-description" ng-bind-html="getContentDescription()"></li>
    </ul>
</div>

