<div class="bbot-border" ng-show="textBot">
	<div class="bbot-board">
		<div class="bbot-header" ng-if="lesson">
			<button class="button-gradient quote"
					type="button">
				«{{quote}}»
			</button>
			<button class="button-gradient enjoy-hint-next next-button-blinking"
					type="button"
					ng-show="next"
					ng-click="next()">
				Далее
			</button>
		</div>
		<div class="bbot-header" ng-if="!lesson">

			<button class="arrow" type="button" ng-click="closeBBotList()">
				<span class="fa fa-chevron-down"></span>
			</button>
		</div>
		<div class="bbot-img" ng-class="css || 'bbot-happy'"></div>
		<div class="bbot-msg">
			<div class="bbot-triangle"></div>
			<div class="bbot-hologram" ng-bind-html="getText()"></div>
		</div>
	</div>
</div>
