<!-- Выделение для EnjoyHint -->
<div class="params-hint"></div>
<div class="points-hint"></div>

<!-- Points bar-->
<div class="game-canvas-group game-canvas-points-bar" ng-if="spaceCraft.modulesManager">
	<div class="points-bar">
		<span class="fa fa-flash green"></span>
		<div class="points-block">
			<span ng-repeat="i in fillArray(spaceCraft.modulesManager.getMaxPoints())"
				  class="point"
				  ng-class="{'point-full': spaceCraft.modulesManager.getFreePoints() > i}">
			</span>
		</div>
	</div>

	<div class="points-bar" ng-if="spaceCraft.protection">
		<span class="fa fa-wrench green"></span>
		<div class="points-block">
			<span ng-repeat="i in fillArray(spaceCraft.protection.regeneration.getMax())"
				  class="point"
				  ng-class="{'point-full': spaceCraft.protection.regeneration.getEnergyPoints() > i}">
			</span>
		</div>
	</div>

	<div class="points-bar" ng-if="spaceCraft.engine">
		<span class="fa fa-forward green"></span>
		<div class="points-block">
			<span ng-repeat="i in fillArray(spaceCraft.engine.moveSpeed.getMax())"
				  class="point"
				  ng-class="{'point-full': spaceCraft.engine.moveSpeed.getEnergyPoints() > i}">
			</span>
		</div>
	</div>

	<div class="points-bar" ng-if="spaceCraft.weapon">
		<span class="fa fa-refresh green"></span>
		<div class="points-block">
			<span ng-repeat="i in fillArray(spaceCraft.weapon.rate.getMax())"
				  class="point"
				  ng-class="{'point-full': spaceCraft.weapon.rate.getEnergyPoints() > i}">
			</span>
		</div>
	</div>

	<div class="points-bar" ng-if="spaceCraft.weapon">
		<span class="fa fa-dot-circle-o green"></span>
		<div class="points-block">
			<span ng-repeat="i in fillArray(spaceCraft.weapon.range.getMax())"
				  class="point"
				  ng-class="{'point-full': spaceCraft.weapon.range.getEnergyPoints() > i}">
			</span>
		</div>
	</div>

	<div class="points-bar" ng-if="spaceCraft.weapon">
		<span class="fa fa-plus green"></span>
		<div class="points-block">
			<span ng-repeat="i in fillArray(spaceCraft.weapon.damage.getMax())"
				  class="point"
				  ng-class="{'point-full': spaceCraft.weapon.damage.getEnergyPoints() > i}">
			</span>
		</div>
	</div>
</div>

<!-- Points bar-->

<!-- DSH bar -->
<div class="game-canvas-group game-canvas-params-bar" ng-hide="hideDhs">
	<div class="params-bar" ng-if="spaceCraft.getCurrentTank">
		<span class="fa fa-tachometer yellow"></span>
		<span class="yellow">{{spaceCraft.getCurrentTank()}} / {{spaceCraft.getMaxTank()}}</span>
	</div>

	<div class="params-bar" ng-if="spaceCraft.weapon">
		<span class="fa fa-plus green"></span>
		<span class="green">{{spaceCraft.weapon.getDamage()}}</span>
	</div>

	<div class="params-bar" ng-if="world.getPlayer().shield">
		<span class="fa fa-adjust blue"></span>
		<span class="blue">{{world.getPlayer().shield}} / {{world.getPlayer().maxShield}}</span>
	</div>

	<div class="params-bar" ng-if="world.getPlayer().health">
		<span class="fa fa-heart red"></span>
		<span class="red">{{world.getPlayer().health}} / {{world.getPlayer().maxHealth}}</span>
	</div>
</div>
<!-- DSH bar -->
