<h3>Оцените урок</h3>
<fieldset class="rating">
	<input type="radio" id="star5" name="rating" value="5" ng-change="radioChange(5)" ng-model="star"/><label class = "full" for="star5" title="Лучший во вселенной!"></label>
	<input type="radio" id="star4half" name="rating" value="4.5" ng-change="radioChange(4.5)" ng-model="star"/><label class="half" for="star4half" title="Просто космос!"></label>
	<input type="radio" id="star4" name="rating" value="4" ng-change="radioChange(4)" ng-model="star"/><label class = "full" for="star4" title="Четыре звездочки космостарс."></label>
	<input type="radio" id="star3half" name="rating" value="3.5" ng-change="radioChange(3.5)" ng-model="star"/><label class="half" for="star3half" title="Хорошо, но можно лучше!"></label>
	<input type="radio" id="star3" name="rating" value="3" ng-change="radioChange(3)" ng-model="star"/><label class = "full" for="star3" title="Неплохо, вам стоит еще поработать!"></label>
	<input type="radio" id="star2half" name="rating" value="2.5" ng-change="radioChange(2.5)" ng-model="star"/><label class="half" for="star2half" title="Плоховато, космос не  для вас!"></label>
	<input type="radio" id="star2" name="rating" value="2" ng-change="radioChange(2)" ng-model="star"/><label class = "full" for="star2" title="Две звезды, но не подполковник!"></label>
	<input type="radio" id="star1half" name="rating" value="1.5" ng-change="radioChange(1.5)" ng-model="star"/><label class="half" for="star1half" title="Хватит это терпеть!"></label>
	<input type="radio" id="star1" name="rating" value="1" ng-change="radioChange(1)" ng-model="star"/><label class = "full" for="star1" title="Как самый худший отель на краю вселенной."></label>
	<input type="radio" id="starhalf" name="rating" value="0.5" ng-change="radioChange(0.5)" ng-model="star"/><label class="half" for="starhalf" title="Пропадите в черной дыре!"></label>
</fieldset>
