<div ui-layout="{ flow : 'column',  dividerSize: 4}" class="ui-layout-custom">

	<!-- Директива докуменации -->
	<div ui-layout-container
		 min-size="30%"
		 max-size="70%">

		<documentation hide="hideDoc"/>

	</div>

	<div ui-layout-container
		min-size="30%"
		max-size="70%"
		ng-class="{'hidden' : hideEditor}">

		<div class="main-editor"
			ui-ace="{
			useWrapMode : true,
			showGutter: true,
			theme:'tomorrow_night',
			mode: 'javascript',
			firstLineNumber: 1,
			onLoad: aceLoaded,
			onChange: aceChanged
			}">
		</div>

		<!-- Директива ошибки -->
		<bbot-board text-bot="textBot"
					css="'bbot-wow'"/>
	</div>

</div>


<!-- Директива игры -->
<div game-canvas
     editor-options="options"></div>

<div class="right-toolbar">

	<div class="right-toolbar-button right-toolbar-icon" ui-sref="welcome"></div>

	<div class="right-toolbar-button glyphicon"
		 ng-click="toggleCodeRun()"
		 ng-class="{'glyphicon-stop right-toolbar-red' : options.isCodeRunning, 'glyphicon-play right-toolbar-green' : !options.isCodeRunning}"></div>

	<div class="right-toolbar-button glyphicon"
		 ng-click="toggleEditorOpen()"
		 ng-class="{'glyphicon-chevron-right': !hideEditor, 'glyphicon-chevron-left' : hideEditor}"></div>

	<div class="right-toolbar-button right-toolbar-new-group glyphicon"
		 ng-hide = "options.isCodeRunning"
		 ng-click="toggleDocOpen()"
		 ng-class="{'glyphicon-question-sign': hideDoc, 'glyphicon-chevron-right': !hideDoc}"></div>
</div>

