<div class = "cd-slideshow-wrapper">
	<ol class = "cd-slideshow">

		<li id = "slide-1">
			<h3>Приветствуем вас!</h3>
			<p>Это краткий экскурс в наш сервис</p>
			<img src="resources/assets/pages/logo.png">
			<p>Мы раскажем вам о рабочем месте капитана, об основных функциях корабля и интерфейсе.</p>
			<p>Для продолжения нажмите <i class="glyphicon glyphicon-chevron-right"></i>.</p>
			<p>Для возврата на предыдущий слайд нажмите <i class="glyphicon glyphicon-chevron-left"></i>.</p>
			<p>Для получения дополнительной информации нажмите <i class="glyphicon glyphicon-info-sign"></i>.</p>'
		</li>

		<li id = "slide-2">
			<h3>Предисловие от авторов</h3>
			<p>Цели, которые мы преследуем, создавая этот проект, интерактивное обучение людей, которым интересно программирование, и создание игровой площадки для более опытных it-специалистов.</p>
			<div class="img-medium-center">
			<img src="resources/assets/pages/gamePlay1.png">
			</div>
			<p>Изначально мы решили не делать ставку на обучающий материал и сделали мини-игру. Связано это с тем, что большинство наших друзей, которым мы покажем сервис, уже разбирается в программировании.</p>
			<p>Но обучение это основная цель на следующих стадиях!</p>
		</li>
	</ol>
</div>
