<div class="cd-slideshow-wrapper">

	<button type="button"  class="close-button">
		<span class="glyphicon glyphicon-remove"></span>
	</button>

	<nav class="cd-slideshow-nav">
		<button class="cd-nav-trigger">
			Open Nav
			<span aria-hidden="true"></span>
		</button>

		<div class="cd-nav-items">
			<ol>
				<li><a href="#slide-1">Slide 1</a></li>
				<li><a href="#slide-2">Slide 2</a></li>
				<li><a href="#slide-3">Slide 3</a></li>
				<li><a href="#slide-4">Slide 4</a></li>
				<li><a href="#slide-5">Slide 5</a></li>
				<li><a href="#slide-6">Slide 6</a></li>
				<li><a href="#slide-7">Slide 7</a></li>
				<li><a href="#slide-8">Slide 8</a></li>
				<li><a href="#slide-9">Slide 9</a></li>
				<li><a href="#slide-10">Slide 10</a></li>
				<li><a href="#slide-11">Slide 11</a></li>
				<li><a href="#slide-12">Slide 12</a></li>
				<li><a href="#slide-13">Slide 13</a></li>
				<li><a href="#slide-14">Slide 14</a></li>
				<li><a href="#slide-15">Slide 15</a></li>
				<li><a href="#slide-16">Slide 16</a></li>
				<li><a href="#slide-17">Slide 17</a></li>
			</ol>
		</div> <!-- .cd-nav-items -->
	</nav> <!-- .cd-slideshow-nav -->

	<ol class="cd-slideshow" ng-repeat="t in slidear">
		<li class="visible" id="{{t.slide}}">
			<div class="cd-slider-content">
				<div class="content-wrapper">
					<h2>{{t.title}}</h2>
					<div>
						{{t.description}}
					</div>
				</div>
			</div>
		</li>
	</ol> <!-- .cd-slideshow -->
</div> <!-- .cd-slideshow-wrapper -->

