<div ui-layout="{ flow : 'column',  dividerSize: 4, disableToggle: true}"
	 class="ui-layout-custom">

	<!-- Директива урока -->
	<div ui-layout-container
		 min-size="30%"
		 max-size="70%"
		 size="50%">
		<div disqus
			 ng-show="disqusEnable">
		</div>
	</div>

	<div ui-layout-container
		 min-size="30%"
		 max-size="70%"
		 ng-hide="hideEditor">

		<div class="main-editor"
			 ng-if="!lesson.sub[subIndex].question"
			 ui-ace="{
				useWrapMode : true,
				showGutter: true,
				theme:'tomorrow_night',
				mode: 'javascript',
				firstLineNumber: 1,
				onLoad: aceLoaded,
				onChange: aceChanged
				}">
		</div>

		<!-- Директива ошибки -->
		<div bbot-board
			 ng-if="lesson.sub[subIndex]"
			 text-bot="textBot"
			 quote="lesson.quote"
			 lesson="true"
			 css="botCss"
			 next="nextSubLesson">
		</div>

	</div>
</div>

<!-- Директива игры -->
<div game-canvas
	 class="lesson-canvas"
	 hide-dhs="char.css"></div>

<div class="right-toolbar">

	<div class="right-toolbar-button right-toolbar-icon" ui-sref="welcome"></div>

	<div class="right-toolbar-button enhoyhint-play fa"
		 tooltip-placement="left"
		 tooltip-append-to-body="true"
		 uib-tooltip="{{CodeLauncher.isCodeRunning ? 'Остановить скрипт' : 'Запустить скрипт'}}"
		 ng-click="toggleCodeRun()"
		 ng-class="{'fa-stop right-toolbar-red': CodeLauncher.isCodeRunning, 'fa-play right-toolbar-green' : !CodeLauncher.isCodeRunning}">
	</div>

	<div class="right-toolbar-button fa"
		 tooltip-placement="left"
		 tooltip-append-to-body="true"
		 uib-tooltip="{{hideEditor ? 'Показать редактор кода' : 'Убрать редактор кода'}}"
		 ng-click="toggleEditorOpen()"
		 ng-class="{'fa-chevron-right': !hideEditor, 'fa-chevron-left' : hideEditor}"></div>

	<div class="right-toolbar-button fa"
		 tooltip-placement="left"
		 tooltip-append-to-body="true"
		 uib-tooltip="{{settingsEnable ? 'Скрыть настройки' : 'Показать настройки'}}"
		 ng-click="toggleContentEnable('settingsEnable')"
		 ng-class="{'fa-chevron-right' : settingsEnable, 'fa-wrench' : !settingsEnable}"></div>


	<div class="fa-floppy-o right-toolbar-new-group right-toolbar-button fa"
		 tooltip-placement="left"
		 tooltip-append-to-body="true"
		 uib-tooltip="Сохранить ваш код"
		 ng-click="clickSaveButton()"></div>

	<div class="right-toolbar-new-group right-toolbar-button fa fa-vk vk-hint"
		 tooltip-placement="left"
		 tooltip-append-to-body="true"
		 uib-tooltip="{{vkWidgetEnable ? 'Скрыть vk сообщения' : 'Есть вопросы?'}}"
		 ng-if="vkWidget"
		 ng-class="{'fa-chevron-right' : vkWidgetEnable, 'fa-vk' : !vkWidgetEnable}"
		 ng-click="toggleVkWidgetVisible()"></div>

	<div class="right-toolbar-button fa disqus-hint"
		 tooltip-placement="left"
		 tooltip-append-to-body="true"
		 uib-tooltip="{{disqusEnable ? 'Скрыть обсуждение' : 'Обсуждение'}}"
		 ng-class="{'fa-chevron-right' : disqusEnable, 'fa-comments' : !disqusEnable}"
		 ng-click="toggleContentEnable('disqusEnable')"></div>

</div>

<div id="vkCommunityMessages" class="vk-community-messages"></div>

<div class="lesson-img-wrapper">
	<div ng-class="char.css"></div>
</div>
